Repository Craig-McAuliffe/labspoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_dev_functions, deploy_dev_firestore, deploy_test_functions, deploy_test_firestore, deploy_prod_functions, deploy_prod_firestore

deploy_dev_functions:
  stage: deploy_dev
  environment: dev
  script:
  - cd functions
  - npm install
  - npm run build
  - firebase use --token $FIREBASE_TOKEN dev
  - firebase deploy -m "pipeline $CI_PIPELINE_ID build functions" --non-interactive --token $FIREBASE_TOKEN --only functions

deploy_dev_firestore:
  stage: deploy_dev
  environment: dev
  script:
  - firebase use --token $FIREBASE_TOKEN dev
  - firebase deploy -m "pipeline $CI_PIPELINE_ID build firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

deploy_test_functions:
  stage: deploy_test
  environment: test
  script:
  - cd functions
  - npm install
  - npm run build
  - firebase use --token $FIREBASE_TOKEN test
  - firebase deploy -m "pipeline $CI_PIPELINE_ID build functions" --non-interactive --token $FIREBASE_TOKEN --only functions

deploy_test_firestore:
  stage: deploy_test
  environment: test
  script:
  - firebase use --token $FIREBASE_TOKEN test
  - firebase deploy -m "pipeline $CI_PIPELINE_ID build firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

deploy_prod_functions:
  stage: deploy_prod
  environment: prod
  script:
  - cd functions
  - npm install
  - npm run build
  - firebase use --token $FIREBASE_TOKEN prod
  - firebase deploy -m "pipeline $CI_PIPELINE_ID build functions" --non-interactive --token $FIREBASE_TOKEN --only functions

deploy_prod_firestore:
  stage: deploy_prod
  environment: prod
  script:
  - firebase use --token $FIREBASE_TOKEN prod
  - firebase deploy -m "pipeline $CI_PIPELINE_ID build firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

remove functions from ci cd due to quota
  .gitlab-ci.yml
Due: none

remove openPositions file
  functions/src/index.ts
  functions/src/openPositions.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

Add open positions back
  functions/src/index.ts
  functions/src/openpositions.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

remove openpositions
  functions/src/index.ts
  functions/src/openpositions.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

add openPositions
  functions/src/index.ts
  functions/src/openPositions.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

change yml file
  .gitlab-ci.yml
Due: none

remove deploy storage
  .gitlab-ci.yml
Due: none

reset GoogleSignIn if error
  web/src/pages/LoginSignup/GoogleSignIn.jsx
  web/src/pages/LoginSignup/LoginPage/LoginPage.jsx
  web/src/pages/LoginSignup/SignupPage/SignupPage.jsx
  web/src/pages/OnboardingPage/OnboardingPage.jsx
Due: none

handle createUserDoc better
  web/src/helpers/users.js
  web/src/pages/LoginSignup/GoogleSignIn.jsx
Due: none

handle bad coverPhoto fetch. Improve frontend
  web/src/components/Avatar/Avatar.css
  web/src/components/Images/ImageListItem.css
  web/src/components/Images/ImageListItem.jsx
  web/src/components/Images/ImageUpload.css
  web/src/components/Images/ImageUpload.jsx
  web/src/components/ResearchFocus/ResearchFocusListItem.jsx
  web/src/components/Results/Results.jsx
  web/src/components/Techniques/TechniqueListItem.jsx
  web/src/components/User/UserCoverPhoto.css
  web/src/components/User/UserCoverPhoto.jsx
  web/src/components/Videos/VideoListItem.jsx
  web/src/pages/ResourcePages/ResearchFocusPage/ResearchFocusPage.jsx
  web/src/pages/ResourcePages/TechniquePage/TechniquePage.jsx
  web/src/pages/ResourcePages/UserPage/EditUserPhotos.jsx
  web/src/pages/ResourcePages/UserPage/UserPage.css
  web/src/pages/ResourcePages/UserPage/UserPage.jsx
Due: none

upload user images and delete existing ones
  functions/src/helpers/images.ts
  functions/src/users.ts
  web/src/App.jsx
  web/src/components/Avatar/UserAvatar.jsx
  web/src/components/Images/ImageUpload.jsx
  web/src/components/OpenPosition/CreateOpenPosition.jsx
  web/src/helpers/users.js
  web/src/pages/ResourcePages/GroupPage/EditGroupPhotos.jsx
  web/src/pages/ResourcePages/UserPage/AuthEditUser.jsx
  web/src/pages/ResourcePages/UserPage/EditUserPage.css
  web/src/pages/ResourcePages/UserPage/EditUserPage.jsx
  web/src/pages/ResourcePages/UserPage/EditUserPhotos.jsx
  web/src/pages/ResourcePages/UserPage/EditUserPublications.jsx
  web/src/pages/ResourcePages/UserPage/Users.jsx
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

functioning resize and upload user photos
  functions/package-lock.json
  functions/package.json
  functions/src/images.ts
  functions/src/index.ts
  functions/src/users.ts
  web/src/components/Images/ImageUpload.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupPhotos.jsx
  web/src/pages/ResourcePages/UserPage/EditUserPage.css
  web/src/pages/ResourcePages/UserPage/EditUserPhotos.jsx
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

remove commented code users.ts
  functions/src/users.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

fix scroll and create group redirect
  web/src/App.css
  web/src/components/Forms/Groups/SelectGroup.jsx
  web/src/components/Group/CreateGroupPage/GroupInfoForm.jsx
  web/src/components/Layout/Header/Header.css
Due: none

functioning editGroupAvatar
  functions/src/helpers/images.ts
  functions/src/images.ts
  web/src/components/Buttons/ReturnToPublicViewButton.css
  web/src/components/Buttons/ReturnToPublicViewButton.jsx
  web/src/components/Group/CreateGroupPage/CreateGroupPage.jsx
  web/src/components/Group/CreateGroupPage/GroupInfoForm.css
  web/src/components/Group/CreateGroupPage/GroupInfoForm.jsx
  web/src/components/Images/ImageUpload.css
  web/src/components/Images/ImageUpload.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupInfo.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupPage.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.css
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

commonise editGroupAvatarStorage
  web/src/components/Group/CreateGroupPage/CreateGroupPage.jsx
  web/src/helpers/groups.js
  web/src/pages/ResourcePages/GroupPage/EditGroupInfo.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.css
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
Due: none

delete old photos through firestore functions
  functions/src/groups.ts
  functions/src/users.ts
  web/src/helpers/groups.js
  web/src/pages/ResourcePages/UserPage/EditUserPhotos.jsx
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

remove commented code
  web/src/helpers/groups.js
  web/src/pages/ResourcePages/GroupPage/EditGroupInfo.jsx
Due: none

group ref updates, pubs creation, article topics
  functions/src/groups.ts
  functions/src/microsoft.ts
  functions/src/openPositions.ts
  functions/src/posts.ts
  functions/src/publications.ts
  functions/src/researchFocuses.ts
  functions/src/techniques.ts
  functions/src/topics.ts
  functions/src/users.ts
  web/src/components/Forms/FormTextInput.css
  web/src/components/Forms/FormTextInput.jsx
  web/src/components/Forms/InputError.jsx
  web/src/components/OpenPosition/CreateOpenPosition.css
  web/src/components/OpenPosition/CreateOpenPosition.jsx
  web/src/helpers/articles.js
  web/src/helpers/topics.js
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

show default avatar if avatar is undefined
  web/src/components/Avatar/GroupAvatar.jsx
Due: none

fix group updates on articles, remove duplicates
  functions/src/groups.ts
  functions/src/openPositions.ts
  functions/src/researchFocuses.ts
  functions/src/techniques.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

update articles upon user doc change
  functions/src/groups.ts
  functions/src/openPositions.ts
  functions/src/researchFocuses.ts
  functions/src/techniques.ts
  functions/src/users.ts
  web/src/helpers/articles.js
  web/src/helpers/users.js
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

update user ref on groups of which user is member
  functions/src/users.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

update user ref on followers and follows
  functions/src/users.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

add posts on group to post. update on post change
  firestore.rules
  functions/src/posts.ts
  functions/src/users.ts
  web/src/helpers/groups.js
  web/src/pages/ResourcePages/GroupPage/EditGroupPage.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupPosts.jsx
Due: deploy_dev_functions, deploy_dev_firestore, deploy_test_functions, deploy_test_firestore, deploy_prod_functions, deploy_prod_firestore

update user ref on followed topics and groups
  functions/src/users.ts
  web/src/components/Group/FollowGroupButton.jsx
  web/src/components/Topics/FollowTopicButton.jsx
  web/src/components/User/FollowUserButton/FollowUserButton.jsx
  web/src/helpers/users.js
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

update userRef on topic users
  functions/src/users.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

update post on topics
  functions/src/posts.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

update post on publication. Improve publication tagging
  functions/src/groups.ts
  functions/src/microsoft.ts
  functions/src/posts.ts
  functions/src/publications.ts
  functions/src/users.ts
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/components/Posts/Post/Post.jsx
  web/src/components/Posts/Post/PostParts/PostOptionalTags.jsx
  web/src/components/Posts/Post/PostParts/PostTaggedContent.css
  web/src/components/Posts/Post/PostParts/PostTaggedContent.jsx
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

handle publication link better
  functions/src/microsoft.ts
  functions/src/publications.ts
  functions/src/users.ts
  web/src/components/Publication/ConnectToPublications/ConnectToPublications.jsx
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

improve bookmarking. update on post change.
  firestore.rules
  functions/src/posts.ts
  web/src/components/Bookmarks/BookmarkListItem/BookmarkListItem.jsx
  web/src/components/Buttons/BookmarkButton.jsx
  web/src/components/Buttons/RecommendButton.jsx
  web/src/components/Popovers/Popover.jsx
  web/src/components/Posts/Post/Post.jsx
  web/src/components/Posts/Post/PostParts/PostActions.css
  web/src/components/Posts/Post/PostParts/PostActions.jsx
  web/src/components/Posts/Post/PostParts/PostTaggedContent.jsx
  web/src/pages/BookmarksPage/BookmarksPage.jsx
Due: deploy_dev_functions, deploy_dev_firestore, deploy_test_functions, deploy_test_firestore, deploy_prod_functions, deploy_prod_firestore

recommendations. Update on post and recommender change
  firestore.rules
  functions/src/posts.ts
  functions/src/users.ts
  web/src/components/Buttons/BookmarkButton.jsx
  web/src/components/Buttons/RecommendButton.jsx
  web/src/components/Popovers/Popover.jsx
  web/src/components/Posts/Post/PostParts/PostActions.jsx
  web/src/helpers/resourceTypeDefinitions.js
Due: deploy_dev_functions, deploy_dev_firestore, deploy_test_functions, deploy_test_firestore, deploy_prod_functions, deploy_prod_firestore

trigger updates if ref changes. improve pub links
  functions/src/groups.ts
  functions/src/index.ts
  functions/src/msUser.ts
  functions/src/posts.ts
  functions/src/publications.ts
  functions/src/users.ts
  web/src/components/Group/CreateGroupPage/CreateGroupPage.jsx
  web/src/components/Publication/PublicationListItem.jsx
  web/src/helpers/groups.js
  web/src/helpers/publications.js
  web/src/helpers/topics.js
  web/src/helpers/users.js
  web/src/pages/ResourcePages/GroupPage/EditGroupInfo.jsx
  web/src/pages/ResourcePages/PublicationPage/PublicationPage.jsx
  web/src/pages/ResourcePages/UserPage/SkeletonUserPage.jsx
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

simplify filter option, update on group on userchange
  functions/src/groups.ts
  functions/src/posts.ts
  functions/src/users.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

fix MAKAPI fetch, update userFilterRef pubs on group
  functions/src/groups.ts
  functions/src/publications.ts
  functions/src/users.ts
  web/src/components/Publication/MicrosoftResults.jsx
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

no updating of pub authors on pub change
  functions/src/publications.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

fix add/remove pubs,update pub on group
  firestore.rules
  functions/src/groups.ts
  functions/src/msUser.ts
  functions/src/openPositions.ts
  functions/src/posts.ts
  functions/src/publications.ts
  functions/src/topics.ts
  functions/src/users.ts
  web/src/components/Publication/PublicationListItem.jsx
  web/src/helpers/filters.js
  web/src/helpers/publications.js
  web/src/pages/FollowingFeedPage/FollowingFeedPage.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupPage.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupPosts.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupPublications.jsx
  web/src/pages/ResourcePages/PublicationPage/PublicationPage.jsx
Due: deploy_dev_functions, deploy_dev_firestore, deploy_test_functions, deploy_test_firestore, deploy_prod_functions, deploy_prod_firestore

update groupRef on pubs
  functions/src/groups.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

add publication topics to user
  functions/src/groups.ts
  functions/src/topics.ts
  functions/src/users.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

add publication topics to group
  functions/src/groups.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

Path conditions:
  deploy_dev_functions: any of: functions/**/*
  deploy_dev_firestore: any of: firestore.rules, firestore.indexes.json
  deploy_test_functions: any of: functions/**/*
  deploy_test_firestore: any of: firestore.rules, firestore.indexes.json
  deploy_prod_functions: any of: functions/**/*
  deploy_prod_firestore: any of: firestore.rules, firestore.indexes.json
