Repository Craig-McAuliffe/labspoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_dev_functions, deploy_dev_firestore, deploy_test_firestore

deploy_dev_functions:
  stage: deploy_dev
  environment: dev
  script:
  - echo "there are functions to deploy"

deploy_dev_firestore:
  stage: deploy_dev
  environment: dev
  script:
  - firebase use --token $FIREBASE_TOKEN dev
  - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

deploy_test_firestore:
  stage: deploy_test
  environment: test
  script:
  - firebase use --token $FIREBASE_TOKEN test
  - firebase deploy -m "pipeline $CI_PIPELINE_ID build firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

add character count for articles
  web/src/components/Article/Article.css
  web/src/components/Article/Article.jsx
  web/src/components/Article/EditArticle.jsx
  web/src/components/Forms/FormTextInput.jsx
  web/src/components/ResearchFocus/CreateResearchFocus.jsx
  web/src/components/Techniques/CreateTechnique.jsx
  web/src/helpers/articles.js
Due: none

batch add articles to group&article collections
  firestore.rules
  functions/src/researchFocuses.ts
  functions/src/techniques.ts
  web/src/components/Article/Article.css
  web/src/components/Article/Article.jsx
  web/src/components/Article/EditArticle.jsx
  web/src/components/Forms/Articles/HeaderAndBodyArticleInput.jsx
  web/src/components/ResearchFocus/CreateResearchFocus.jsx
  web/src/components/Techniques/CreateTechnique.jsx
  web/src/helpers/articles.js
  web/src/pages/ResourcePages/ResearchFocusPage/ResearchFocusPage.jsx
  web/src/pages/ResourcePages/TechniquePage/TechniquePage.jsx
Due: deploy_dev_functions, deploy_dev_firestore, deploy_test_firestore

refactor rich text character counting
  web/src/components/Article/Article.jsx
  web/src/components/Article/EditArticle.jsx
  web/src/components/Forms/Articles/HeaderAndBodyArticleInput.jsx
  web/src/components/Forms/FormTextInput.jsx
  web/src/components/Posts/Post/CreatePost/PostForm.jsx
  web/src/components/ResearchFocus/CreateResearchFocus.jsx
  web/src/components/Techniques/CreateTechnique.jsx
Due: none

fetch publications for user upon linking to ms
  functions/src/microsoft.ts
  functions/src/users.ts
Due: deploy_dev_functions

add update rFocus&Technique to group, unless edit
  functions/src/researchFocuses.ts
  functions/src/techniques.ts
Due: deploy_dev_functions

delete fetch pubs on linking to author
  functions/src/users.ts
Due: deploy_dev_functions

fix pubs author display,add fetch pubs on link
  functions/src/msUser.ts
  web/src/components/Publication/PublicationListItem.jsx
  web/src/helpers/publications.js
  web/src/pages/LoginSignup/ChooseUserName/ChooseUserName.jsx
  web/src/pages/ResourcePages/PublicationPage/PublicationPage.jsx
Due: deploy_dev_functions

add group cover photo. modify resize function
  functions/src/images.ts
  web/src/components/Group/CreateGroupPage/GroupInfoForm.jsx
  web/src/components/User/UserCoverPhoto.jsx
  web/src/helpers/groups.js
  web/src/index.css
  web/src/pages/AboutPage/AboutPage.css
  web/src/pages/ResourcePages/GroupPage/EditGroupInfo.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupPhotos.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.css
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
  web/src/pages/ResourcePages/UserPage/UserPage.jsx
Due: deploy_dev_functions

no refetch on load image error
  web/src/components/Avatar/GroupAvatar.jsx
  web/src/components/Avatar/UserAvatar.jsx
  web/src/components/User/UserCoverPhoto.jsx
Due: none

add pinned posts for group
  web/src/assets/GeneralActionIcons.jsx
  web/src/components/Buttons/PinButton.css
  web/src/components/Buttons/PinButton.jsx
  web/src/components/Buttons/RecommendButton.jsx
  web/src/components/FilterableResults/FilterableResults.jsx
  web/src/components/ListItem/ListItemCommonComponents.css
  web/src/components/ListItem/ListItemCommonComponents.jsx
  web/src/components/Popovers/Popover.css
  web/src/components/Popovers/Popover.jsx
  web/src/components/Posts/Post/Post.css
  web/src/components/Posts/Post/Post.jsx
  web/src/components/Posts/Post/PostParts/PostActions.css
  web/src/components/Posts/Post/PostParts/PostActions.jsx
  web/src/components/ResearchFocus/CreateResearchFocus.jsx
  web/src/components/Results/Results.jsx
  web/src/components/Techniques/CreateTechnique.jsx
  web/src/components/Topics/TagTopics.jsx
  web/src/helpers/resourceTypeDefinitions.js
  web/src/pages/ResourcePages/GroupPage/GroupPage.css
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
Due: none

pin articles, pubs, open positions
  web/src/assets/GeneralActionIcons.jsx
  web/src/assets/Icons.css
  web/src/components/Article/Article.jsx
  web/src/components/Buttons/BookmarkButton.jsx
  web/src/components/Buttons/RecommendButton.jsx
  web/src/components/Dropdown.css
  web/src/components/FilterableResults/FilterableResults.jsx
  web/src/components/ListItem/ListItemCommonComponents.css
  web/src/components/ListItem/ListItemCommonComponents.jsx
  web/src/components/OpenPosition/CreateOpenPosition.jsx
  web/src/components/OpenPosition/OpenPositionListItem.jsx
  web/src/components/Posts/Post/Post.jsx
  web/src/components/Publication/PublicationListItem.css
  web/src/components/Publication/PublicationListItem.jsx
  web/src/components/ResearchFocus/ResearchFocusListItem.jsx
  web/src/components/Techniques/TechniqueListItem.jsx
  web/src/pages/LoginSignup/ChooseUserName/ChooseUserName.jsx
  web/src/pages/LoginSignup/SignupPage/SignupPage.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
Due: none

fix pinning items
  web/src/components/Article/Article.jsx
  web/src/components/ListItem/ListItemCommonComponents.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
Due: none

trigger useEffect if userIsMember changes
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
Due: none

fix openPositions updates, make rich text
  functions/src/groups.ts
  functions/src/openPositions.ts
  web/src/components/Group/GroupListItem.jsx
  web/src/components/OpenPosition/CreateOpenPosition.jsx
  web/src/components/OpenPosition/OpenPositionListItem.jsx
  web/src/pages/ResourcePages/OpenPositionPage/OpenPositionPage.jsx
Due: deploy_dev_functions

use list items for articles
  functions/src/researchFocuses.ts
  functions/src/techniques.ts
Due: deploy_dev_functions

fix CreateOpenPosition
  web/src/components/OpenPosition/CreateOpenPosition.jsx
Due: none

add articles to TopicPage
  firestore.rules
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
  web/src/pages/TopicPage/TopicPage.jsx
Due: deploy_dev_firestore, deploy_test_firestore

generate groups from twitter, claim group
  functions/src/groups.ts
  functions/src/topics.ts
  web/src/App.css
  web/src/App.jsx
  web/src/assets/MenuIcons.jsx
  web/src/components/Group/CreateGroupPage/CreateGroupPage.jsx
  web/src/helpers/groups.js
  web/src/pages/LoginSignup/ChooseUserName/ChooseUserName.jsx
  web/src/pages/LoginSignup/GoogleSignIn.jsx
  web/src/pages/LoginSignup/SignupPage/SignupPage.jsx
  web/src/pages/OnboardingPage/OnboardingPage.css
  web/src/pages/OnboardingPage/OnboardingPage.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.css
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
Due: deploy_dev_functions

edit .yml file for no functions job.
  .gitlab-ci.yml
  functions/src/groups.ts
Due: deploy_dev_functions

fix article validation
  web/src/components/Forms/Articles/HeaderAndBodyArticleInput.jsx
  web/src/components/Techniques/CreateTechnique.jsx
Due: none

fix pinning and unpinning items
  web/src/components/ListItem/ListItemCommonComponents.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
Due: none

properly fix pinning items
  web/src/components/ListItem/ListItemCommonComponents.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
Due: none

improved auto generated twitter groups function
  functions/src/groups.ts
Due: deploy_dev_functions

create articles with list item on group
  web/src/helpers/articles.js
  web/src/helpers/groups.js
Due: none

fix signin
  web/src/pages/LoginSignup/LoginPage/LoginPage.jsx
Due: none

fix create articles
  web/src/helpers/articles.js
  web/src/helpers/groups.js
Due: none

fix PublicationListItem&PublicationPage date
  web/src/components/Publication/PublicationListItem.jsx
  web/src/pages/ResourcePages/PublicationPage/PublicationPage.css
  web/src/pages/ResourcePages/PublicationPage/PublicationPage.jsx
Due: none

increase z index of header
  web/src/App.css
Due: none

fix pinning items again
  web/src/App.css
  web/src/components/Article/Article.jsx
  web/src/components/Dropdown.css
  web/src/components/Dropdown.jsx
  web/src/components/ListItem/ListItemCommonComponents.css
  web/src/components/ListItem/ListItemCommonComponents.jsx
  web/src/components/OpenPosition/OpenPositionListItem.jsx
  web/src/components/Posts/Post/Post.jsx
  web/src/components/Publication/PublicationListItem.css
  web/src/components/Publication/PublicationListItem.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
Due: none

redirect to previous location upon signup
  web/src/components/Layout/Header/AvatarDropDown.jsx
  web/src/pages/LoginSignup/LoginPage/LoginPage.jsx
  web/src/pages/LoginSignup/SignupPage/SignupPage.jsx
Due: none

improve OpenPositionPage layout
  web/src/pages/ResourcePages/OpenPositionPage/OpenPositionPage.css
  web/src/pages/ResourcePages/OpenPositionPage/OpenPositionPage.jsx
Due: none

remove ConvertOpenPositionsToRichText component
  functions/src/openPositions.ts
Due: deploy_dev_functions

remove topic search from group generation
  functions/src/groups.ts
Due: deploy_dev_functions

improve GroupListItem link hover design
  web/src/components/Group/GroupListItem.css
  web/src/components/Group/GroupListItem.jsx
Due: none

remove follow user&topic from OnboardingPage
  functions/src/groups.ts
  web/src/pages/LoginSignup/LoginPage/LoginPage.jsx
  web/src/pages/LoginSignup/SignupPage/SignupPage.jsx
  web/src/pages/OnboardingPage/OnboardingPage.css
  web/src/pages/OnboardingPage/OnboardingPage.jsx
Due: deploy_dev_functions

redo search with client not instant search
  web/src/App.css
  web/src/components/Results/Results.jsx
  web/src/components/SearchBar.jsx
  web/src/pages/AuthenticationPages/PasswordResetPage.jsx
  web/src/pages/LoginSignup/LoginPage/LoginPage.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
  web/src/pages/SearchPage/SearchPage.css
  web/src/pages/SearchPage/SearchPage.jsx
Due: none

fix SearchPage hasMore, fix algolia posts&openPositions
  functions/src/algolia.ts
  functions/src/openPositions.ts
  functions/src/posts.ts
  web/src/App.jsx
  web/src/pages/SearchPage/SearchPage.jsx
Due: deploy_dev_functions

fix signup/login. add loading password changes
  web/src/helpers/groups.js
  web/src/helpers/users.js
  web/src/index.css
  web/src/pages/AboutPage/AboutPage.jsx
  web/src/pages/LoginSignup/GoogleSignIn.jsx
  web/src/pages/LoginSignup/LoginPage/LoginPage.jsx
  web/src/pages/LoginSignup/SignupPage/SignupPage.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.css
  web/src/pages/SettingsPage/SettingsPage.jsx
Due: none

add reformat algolia groups.SearchPage id/objectID
  functions/src/algolia.ts
  functions/src/groups.ts
  functions/src/techniques.ts
  web/src/pages/SearchPage/SearchPage.jsx
Due: deploy_dev_functions

reformat algolia open positions
  functions/src/algolia.ts
  functions/src/openPositions.ts
  functions/src/posts.ts
  web/src/pages/SearchPage/SearchPage.jsx
Due: deploy_dev_functions

Path conditions:
  deploy_dev_functions: any of: functions/**/*
  deploy_dev_firestore: any of: firestore.rules, firestore.indexes.json
  deploy_test_firestore: any of: firestore.rules, firestore.indexes.json
