Repository Craig-McAuliffe/labspoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_dev_functions, deploy_dev_firestore, deploy_test_firestore

.gitlab-ci.yml:

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "web"'
      when: always

image: node:latest

stages:
  - deploy_dev
  - deploy_test
  - deploy_prod

cache:
  key: default
  paths:
    - web/node_modules/
    - functions/node_modules

before_script:
  - npm i -g firebase-tools
  - npm i -g n

deploy_dev_functions:
  stage: deploy_dev
  environment: dev
  rules:
    - changes:
        - functions/**/*
  script:
    - echo "there are functions to deploy"

deploy_dev_firestore:
  stage: deploy_dev
  environment: dev
  rules:
    - changes:
        - firestore.rules
        - firestore.indexes.json
  script:
    - firebase use --token $FIREBASE_TOKEN dev
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

deploy_dev:
  stage: deploy_dev
  environment: dev
  script:
    - n current
    - cd web
    - npm install
    - npm run build
    - cd ..
    - n 10
    - cd functions
    - npm install
    - npm functions build
    - cd ..
    - firebase use --token $FIREBASE_TOKEN dev
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID" --non-interactive --token $FIREBASE_TOKEN --only hosting

deploy_test_firestore:
  stage: deploy_test
  environment: test
  rules:
    - changes:
        - firestore.rules
        - firestore.indexes.json
  script:
    - firebase use --token $FIREBASE_TOKEN test
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

deploy_test:
  stage: deploy_test
  environment: test
  script:
    - n current
    - cd web
    - npm install
    - npm run build
    - cd ..
    - n 10
    - cd functions
    - npm install
    - npm run build
    - cd ..
    - firebase use --token $FIREBASE_TOKEN test
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID" --non-interactive --token $FIREBASE_TOKEN --only hosting

deploy_prod_firestore:
  stage: deploy_prod
  environment: prod
  rules:
    - changes:
        - firestore.rules
        - firestore.indexes.json
      when: manual
  script:
    - firebase use --token $FIREBASE_TOKEN prod
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

deploy_prod:
  stage: deploy_prod
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      when: manual
  environment:
    name: prod
  script:
    - n current
    - cd web
    - npm install
    - npm run build
    - cd ..
    - n 10
    - cd functions
    - npm install
    - npm run build
    - cd ..
    - firebase use --token $FIREBASE_TOKEN prod
    - firebase deploy -m "Pipeline $CI_PIPELINE_ID, Build $CI_BUILD_ID" --non-interactive --token $FIREBASE_TOKEN --only hosting

add max custom publications per day
  firestore.rules
  functions/src/activity.ts
  functions/src/publications.ts
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
Due: deploy_dev_functions, deploy_dev_firestore, deploy_test_firestore

refactor PublicationPostForm out of PostForm
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
Due: none

fix publications.ts imports
  functions/src/publications.ts
Due: deploy_dev_functions

use max daily pubs in all places, prevent submit
  functions/src/publications.ts
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
  web/src/components/Publication/CreateCustomPublication.jsx
Due: deploy_dev_functions

use same fields order for CreateCustomPublication
  web/src/components/Publication/CreateCustomPublication.jsx
Due: none

use lazyLoading routes. fix SettingsPage display
  web/src/pages/SettingsPage/SettingsPage.jsx
  web/src/routes.jsx
Due: none

better loading ui for UserPage GroupPage
  web/src/pages/ResourcePages/GroupPage/GroupPage.css
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
  web/src/pages/ResourcePages/ResourcesFeeds.jsx
  web/src/pages/ResourcePages/UserPage/UserPage.css
  web/src/pages/ResourcePages/UserPage/UserPage.jsx
Due: none

remove commented css line
  web/src/pages/ResourcePages/UserPage/UserPage.css
Due: none

no nested links in post
  web/src/components/Posts/Post/Post.css
  web/src/components/Posts/Post/Post.jsx
Due: none

lazy load article pages and ChooseUserName
  web/src/routes.jsx
Due: none

improve updating user and group rank on topic
  functions/src/groups.ts
  functions/src/users.ts
  web/src/pages/TopicPage/TopicPage.jsx
Due: deploy_dev_functions

refactor adding resources to topic pages
  functions/src/groups.ts
  functions/src/topics.ts
  functions/src/users.ts
Due: deploy_dev_functions

change link on AboutPage to AboutUsPage,scroll fix
  web/src/pages/AboutPage/AboutPage.jsx
Due: none

use azure search for SearchMSFields
  functions/src/topics.ts
  web/src/components/Topics/SearchMSFields.jsx
  web/src/components/Topics/TagTopics.jsx
Due: deploy_dev_functions

remove topics from algolia and SearchPage
  functions/src/algolia.ts
  web/src/pages/SearchPage/SearchPage.jsx
Due: deploy_dev_functions

fix functions for deployment
  functions/src/topics.ts
  web/src/pages/SearchPage/SearchPage.jsx
Due: deploy_dev_functions

fix topics search
  functions/src/topics.ts
Due: deploy_dev_functions

add id to tag topic search. remove checks
  functions/src/algolia.ts
  functions/src/openPositions.ts
  functions/src/posts.ts
  functions/src/topics.ts
  web/src/components/Posts/Post/CreatePost/DefaultPost.jsx
  web/src/components/Posts/Post/CreatePost/OpenPositionPostForm.jsx
  web/src/components/Publication/CreateCustomPublication.jsx
  web/src/components/ResearchFocus/CreateResearchFocus.jsx
  web/src/components/Techniques/CreateTechnique.jsx
  web/src/components/Topics/SearchMSFields.jsx
  web/src/components/Topics/TagTopics.jsx
  web/src/helpers/articles.js
  web/src/helpers/topics.js
Due: deploy_dev_functions

add algolia publications back
  functions/src/algolia.ts
Due: deploy_dev_functions

add openPositions tab to TopicPage
  firestore.rules
  web/src/pages/TopicPage/TopicPage.jsx
Due: deploy_dev_firestore, deploy_test_firestore

add topic search to SearchPage
  functions/src/topics.ts
  web/src/components/Results/Results.jsx
  web/src/components/Topics/SearchMSFields.jsx
  web/src/components/Topics/TagTopics.jsx
  web/src/pages/SearchPage/SearchPage.jsx
Due: deploy_dev_functions

if no overview results, show first 8 topics
  web/src/components/Results/Results.jsx
  web/src/pages/SearchPage/SearchPage.css
  web/src/pages/SearchPage/SearchPage.jsx
Due: none

reduce max number of photos per group
  web/src/pages/ResourcePages/GroupPage/EditGroupPhotos.jsx
Due: none

fix max photos per group error message
  web/src/pages/ResourcePages/GroupPage/EditGroupPhotos.jsx
Due: none

acknowledge microsoft on topic pages
  web/src/components/Topics/TopicListItem.css
  web/src/components/Topics/TopicListItem.jsx
Due: none

conditionally acknowledge microsoft if msID
  web/src/components/Topics/TopicListItem.jsx
Due: none

secure link to ms academic
  web/src/components/Topics/TopicListItem.jsx
Due: none

fix CreateQuickPost on publication, missing id
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/pages/ResourcePages/PublicationPage/PublicationPage.jsx
Due: none

make create post more prominent
  web/src/components/Posts/Post/CreatePost/CreatePost.css
Due: none

quick create group and sign up
  web/src/components/Article/EditArticle.jsx
  web/src/components/Forms/Articles/HeaderAndBodyArticleInput.css
  web/src/components/Forms/Articles/HeaderAndBodyArticleInput.jsx
  web/src/components/Forms/FormTextInput.jsx
  web/src/components/Group/CreateGroupPage/GroupInfoForm.jsx
  web/src/components/Group/GroupListItem.jsx
  web/src/components/Publication/ConnectToPublications/ConnectToPublications.jsx
  web/src/components/ResearchFocus/CreateResearchFocus.jsx
  web/src/components/Techniques/CreateTechnique.jsx
  web/src/helpers/activity.js
  web/src/helpers/users.js
  web/src/pages/Articles/CreateArticlePage.jsx
  web/src/pages/GeneratedPasswordPage.css
  web/src/pages/GeneratedPasswordPage.jsx
  web/src/pages/LoginSignup/SignupPage/SignupPage.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
  web/src/pages/ResourcePages/QuickCreateGroup.css
  web/src/pages/ResourcePages/QuickCreateGroup.jsx
  web/src/routes.jsx
Due: none

group desc rich text, see more, p line height
  functions/src/groups.ts
  web/package-lock.json
  web/package.json
  web/src/components/Article/Article.css
  web/src/components/Article/Article.jsx
  web/src/components/Article/EditArticle.jsx
  web/src/components/Forms/Articles/HeaderAndBodyArticleInput.jsx
  web/src/components/Group/CreateGroupPage/CreateGroupPage.jsx
  web/src/components/Group/CreateGroupPage/GroupInfoForm.jsx
  web/src/components/Group/GroupListItem.jsx
  web/src/components/ListItem/ListItemCommonComponents.jsx
  web/src/components/Posts/Post/CreatePost/PostForm.jsx
  web/src/components/SeeMore.jsx
  web/src/index.css
  web/src/pages/ContactPage/ContactPage.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupInfo.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.css
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
  web/src/pages/ResourcePages/QuickCreateGroup.jsx
Due: deploy_dev_functions

fix convert existing group about to rich text
  functions/src/groups.ts
Due: deploy_dev_functions

convert empty group descriptions
  functions/src/groups.ts
Due: deploy_dev_functions

correct redirect for QuickCreateGroup
  functions/src/groups.ts
  web/src/pages/ResourcePages/QuickCreateGroup.jsx
Due: deploy_dev_functions

ensure no submit if user
  web/src/pages/ResourcePages/QuickCreateGroup.jsx
Due: none

fix search no results topic search refresh
  web/src/pages/SearchPage/SearchPage.jsx
Due: none

add privacy policy declaration to QuickCreateGroup
  web/src/pages/ResourcePages/QuickCreateGroup.css
  web/src/pages/ResourcePages/QuickCreateGroup.jsx
Due: none

allow password reset. fix button disabled state
  web/src/components/Buttons/PrimaryButton.css
  web/src/components/Forms/CreateResourceFormActions.jsx
  web/src/components/Forms/FormTextInput.jsx
  web/src/components/Publication/ConnectToPublications/ConnectToPublications.jsx
  web/src/pages/AuthenticationPages/PasswordResetPage.css
  web/src/pages/AuthenticationPages/PasswordResetPage.jsx
  web/src/pages/LoginSignup/LoginPage/LoginPage.css
  web/src/pages/LoginSignup/LoginPage/LoginPage.jsx
  web/src/routes.jsx
Due: none

fix group description breaks and improve SeeMore
  web/src/components/Article/Article.css
  web/src/components/Article/Article.jsx
  web/src/components/Group/GroupListItem.css
  web/src/components/Group/GroupListItem.jsx
  web/src/components/ListItem/ListItemCommonComponents.css
  web/src/components/ListItem/ListItemCommonComponents.jsx
  web/src/components/SeeMore.css
  web/src/components/SeeMore.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.css
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
Due: none

refactor article creation. Improve placeholders
  web/src/components/Article/Article.css
  web/src/components/Article/Article.jsx
  web/src/components/Article/EditArticle.jsx
  web/src/components/Forms/Articles/HeaderAndBodyArticleInput.css
  web/src/components/Forms/Articles/HeaderAndBodyArticleInput.jsx
  web/src/components/Forms/FormTextInput.jsx
  web/src/components/ResearchFocus/CreateResearchFocus.jsx
  web/src/components/ResearchFocus/ResearchFocusListItem.jsx
  web/src/components/Techniques/CreateTechnique.jsx
  web/src/components/Techniques/TechniqueListItem.jsx
  web/src/helpers/articles.js
  web/src/pages/Articles/CreateArticlePage.jsx
Due: none
