Repository Craig-McAuliffe/labspoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_dev_functions, deploy_dev_firestore, deploy_test_functions, deploy_test_firestore, deploy_prod_functions, deploy_prod_firestore

.gitlab-ci.yml:

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "web"'
      when: always

image: node:latest

stages:
  - deploy_dev
  - deploy_test
  - deploy_prod

cache:
  key: default
  paths:
    - web/node_modules/
    - functions/node_modules

before_script:
  - npm i -g firebase-tools
  - npm i -g n

deploy_dev_functions:
  stage: deploy_dev
  environment: dev
  rules:
    - changes:
        - functions/**/*
  script:
    - cd functions
    - npm install
    - npm run build
    - firebase use --token $FIREBASE_TOKEN dev
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build functions" --non-interactive --token $FIREBASE_TOKEN --only functions

deploy_dev_firestore:
  stage: deploy_dev
  environment: dev
  rules:
    - changes:
        - firestore.rules
        - firestore.indexes.json
  script:
    - firebase use --token $FIREBASE_TOKEN dev
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

deploy_dev:
  stage: deploy_dev
  environment: dev
  script:
    - n current
    - cd web
    - npm install
    - npm run build
    - cd ..
    - n 10
    - firebase use --token $FIREBASE_TOKEN dev
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID" --non-interactive --token $FIREBASE_TOKEN --only hosting, storage

deploy_test_functions:
  stage: deploy_test
  environment: test
  rules:
    - changes:
        - functions/**/*
    - when: manual
  script:
    - cd functions
    - npm install
    - npm run build
    - firebase use --token $FIREBASE_TOKEN test
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build functions" --non-interactive --token $FIREBASE_TOKEN --only functions

deploy_test_firestore:
  stage: deploy_test
  environment: test
  rules:
    - changes:
        - firestore.rules
        - firestore.indexes.json
    - when: manual
  script:
    - firebase use --token $FIREBASE_TOKEN test
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

deploy_test:
  stage: deploy_test
  rules:
    - when: manual
  environment: test
  script:
    - n current
    - cd web
    - npm install
    - npm run build
    - cd ..
    - n 10
    - npm --prefix functions install
    - npm run --prefix functions build
    - firebase use --token $FIREBASE_TOKEN test
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID" --non-interactive --token $FIREBASE_TOKEN --only hosting, storage

deploy_prod_functions:
  stage: deploy_prod
  environment: prod
  rules:
    - changes:
        - functions/**/*
    - when: manual
  script:
    - cd functions
    - npm install
    - npm run build
    - firebase use --token $FIREBASE_TOKEN prod
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build functions" --non-interactive --token $FIREBASE_TOKEN --only functions

deploy_prod_firestore:
  stage: deploy_prod
  environment: prod
  rules:
    - changes:
        - firestore.rules
        - firestore.indexes.json
    - when: manual
  script:
    - firebase use --token $FIREBASE_TOKEN prod
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

deploy_prod:
  stage: deploy_prod
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      when: manual
  environment:
    name: prod
  script:
    - n current
    - cd web
    - npm install
    - npm run build
    - cd ..
    - n 10
    - cd functions
    - npm install
    - npm run build
    - cd ..
    - firebase use --token $FIREBASE_TOKEN prod
    - firebase deploy -m "Pipeline $CI_PIPELINE_ID, Build $CI_BUILD_ID" --non-interactive --token $FIREBASE_TOKEN --only hosting, storage

update css loader
  web/package-lock.json
  web/package.json
Due: none

update eslint-plugin-react, eslint, lint-staged
  web/package-lock.json
  web/package.json
Due: none

updatae testing-library/jest-dom
  web/package-lock.json
  web/package.json
Due: none

update testing-library/react
  web/package-lock.json
  web/package.json
Due: none

update testing-library/user-event
  web/package-lock.json
  web/package.json
Due: none

Revert "improve follows and filter updates"
  functions/src/algolia.ts
  functions/src/groups.ts
  functions/src/posts.ts
  functions/src/topics.ts
  functions/src/users.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

fix firebase imports in frontend
  web/src/components/Buttons/BookmarkButton.jsx
  web/src/components/Buttons/RecommendButton.jsx
  web/src/components/Publication/MicrosoftResults.jsx
  web/src/firebase.js
Due: none

improve follow handling and filter updates 1
  functions/src/posts.ts
  functions/src/topics.ts
  functions/src/users.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

improve follow handling and filter updates 2
  functions/src/users.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

improve follow handling and filters 3 final
  functions/src/groups.ts
  functions/src/posts.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

improve algolia indexing
  functions/src/algolia.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

fix recommend,bookmark. update useEmulator, no small
  firestore.rules
  web/src/components/Buttons/BookmarkButton.jsx
  web/src/components/Buttons/PrimaryButton.css
  web/src/components/Buttons/PrimaryButton.jsx
  web/src/components/Buttons/RecommendButton.jsx
  web/src/components/Group/CreateGroupPage/GroupInfoForm.jsx
  web/src/components/Topics/TagTopics.jsx
  web/src/components/User/UserListItem.jsx
  web/src/firebase.js
Due: deploy_dev_firestore, deploy_test_firestore, deploy_prod_firestore

update userFilterRef on userName change
  functions/src/algolia.ts
  functions/src/feeds.ts
  functions/src/index.ts
  functions/src/posts.ts
  functions/src/users.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

fix contact forms and make human secure
  firestore.rules
  web/src/pages/ContactPage/ContactPage.jsx
Due: deploy_dev_firestore, deploy_test_firestore, deploy_prod_firestore

fix LatestPosts memory leak
  web/src/components/Posts/LatestPosts/LatestPosts.jsx
Due: none

fix lint errors in functions
  functions/src/groups.ts
  functions/src/posts.ts
  functions/src/publications.ts
  functions/src/users.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

add res.end() to https algolia functions
  functions/src/algolia.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

handle promises properly algolia onRequest functions
  functions/src/algolia.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

round down unix timestamp
  functions/src/posts.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

fix gitlab gi file
  .gitlab-ci.yml
Due: none

remove functions install build from ci
  .gitlab-ci.yml
Due: none

paginate and tidy up microsoftauthorID link
  functions/src/users.ts
  web/src/components/Buttons/SecondaryButton.css
  web/src/components/Publication/ConnectToPublications/ConnectToPublications.css
  web/src/components/Publication/ConnectToPublications/ConnectToPublications.jsx
  web/src/pages/ResourcePages/UserPage/EditUserPublications.jsx
  web/src/pages/ResourcePages/UserPage/SkeletonUserPage.jsx
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

reduce emphasis of contact page and privacy policy
  web/src/components/Layout/Header/AvatarDropDown.css
  web/src/components/Layout/Header/AvatarDropDown.jsx
Due: none

improve loading UI for linking pub author
  web/src/components/Publication/ConnectToPublications/ConnectToPublications.css
  web/src/components/Publication/ConnectToPublications/ConnectToPublications.jsx
Due: none

decrease MAKAPI count for linking author
  functions/src/users.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

fix contactPage nav display
  web/src/pages/ContactPage/ContactPage.css
  web/src/pages/ContactPage/ContactPage.jsx
Due: none

fix convert publication author to labspoon user
  functions/src/msUser.ts
  functions/src/publications.ts
  functions/src/users.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

clean up UI and mobile responsiveness
  web/src/components/Layout/Content.css
  web/src/components/Layout/Header/Header.css
  web/src/components/Posts/Post/CreatePost/CreatePost.css
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/pages/ContactPage/ContactPage.css
  web/src/pages/FollowingFeedPage/FollowingFeedPage.jsx
  web/src/pages/LoginSignup/LoginPage/LoginPage.jsx
  web/src/pages/LoginSignup/SignupPage/SignupPage.jsx
  web/src/pages/OnboardingPage/OnboardingPage.css
  web/src/pages/OnboardingPage/OnboardingPage.jsx
Due: none

fix negative button ui
  web/src/components/Buttons/BookmarkButton.jsx
  web/src/components/Buttons/NegativeButton.jsx
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
Due: none

fix and neaten group email invites
  firestore.rules
  functions/README.md
  functions/src/email.ts
  functions/src/invitations.ts
  web/src/components/Group/CreateGroupPage/CreateGroupPage.jsx
  web/src/components/Group/CreateGroupPage/GroupInfoForm.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupInfo.jsx
Due: deploy_dev_functions, deploy_dev_firestore, deploy_test_functions, deploy_test_firestore, deploy_prod_functions, deploy_prod_firestore

fix group invite fulfillment
  functions/src/invitations.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

fix resourceType on fulfill email invites
  functions/src/invitations.ts
  web/src/pages/LoginSignup/LoginPage/LoginPage.css
  web/src/pages/LoginSignup/SignupPage/SignupPage.css
  web/src/pages/LoginSignup/SignupPage/SignupPage.jsx
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

delete redundant addSourcesToExisting pubs function
  functions/src/publications.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

half improve photo upload for testing
  functions/src/config.ts
  functions/src/images.ts
  functions/src/publications.ts
  web/src/components/Group/CreateGroupPage/CreateGroupPage.jsx
  web/src/components/Group/CreateGroupPage/GroupInfoForm.jsx
  web/src/components/Images/ImageUpload.jsx
  web/src/helpers/groups.js
  web/src/pages/ResourcePages/GroupPage/EditGroupInfo.jsx
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

commonise image form upload. add publication index
  firestore.indexes.json
  functions/src/config.ts
  functions/src/images.ts
  web/src/components/Group/CreateGroupPage/CreateGroupPage.jsx
  web/src/components/Group/CreateGroupPage/GroupInfoForm.jsx
  web/src/components/Images/FormImageUpload.css
  web/src/components/Images/FormImageUpload.jsx
  web/src/components/Images/ImageUpload.css
  web/src/components/Images/ImageUpload.jsx
  web/src/components/Layout/Header/Header.css
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/components/ResearchFocus/CreateResearchFocus.jsx
  web/src/components/Techniques/CreateTechnique.jsx
  web/src/helpers/groups.js
  web/src/pages/ResourcePages/GroupPage/EditGroupInfo.jsx
Due: deploy_dev_functions, deploy_dev_firestore, deploy_test_functions, deploy_test_firestore, deploy_prod_functions, deploy_prod_firestore

remove pub references index
  firestore.indexes.json
Due: deploy_dev_firestore, deploy_test_firestore, deploy_prod_firestore

revert to direct resize call
  functions/src/images.ts
  web/src/components/Group/CreateGroupPage/CreateGroupPage.jsx
  web/src/components/Images/FormImageUpload.jsx
  web/src/components/Images/ImageUpload.jsx
  web/src/helpers/groups.js
  web/src/pages/ResourcePages/GroupPage/EditGroupInfo.jsx
  web/src/pages/ResourcePages/UserPage/EditUserPhotos.jsx
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

console error don't throw new one
  functions/src/images.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

fix rounded image preview edit group avatar
  web/src/components/Images/FormImageUpload.jsx
Due: none

remove duplicate form value deletion
  web/src/pages/ResourcePages/GroupPage/EditGroupInfo.jsx
Due: none
