Repository Craig-McAuliffe/labspoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_dev_functions, deploy_dev_firestore, deploy_test_firestore

.gitlab-ci.yml:

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "web"'
      when: always

image: node:latest

stages:
  - deploy_dev
  - deploy_test
  - deploy_prod

cache:
  key: default
  paths:
    - web/node_modules/
    - functions/node_modules

before_script:
  - npm i -g firebase-tools
  - npm i -g n

deploy_dev_functions:
  stage: deploy_dev
  environment: dev
  rules:
    - changes:
        - functions/**/*
  script:
    - echo "there are functions to deploy"

deploy_dev_firestore:
  stage: deploy_dev
  environment: dev
  rules:
    - changes:
        - firestore.rules
        - firestore.indexes.json
  script:
    - firebase use --token $FIREBASE_TOKEN dev
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

deploy_dev:
  stage: deploy_dev
  environment: dev
  script:
    - n current
    - cd web
    - npm install
    - npm run build
    - cd ..
    - n 10
    - cd functions
    - npm install
    - npm functions build
    - cd ..
    - firebase use --token $FIREBASE_TOKEN dev
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID" --non-interactive --token $FIREBASE_TOKEN --only hosting

deploy_test_firestore:
  stage: deploy_test
  environment: test
  rules:
    - changes:
        - firestore.rules
        - firestore.indexes.json
  script:
    - firebase use --token $FIREBASE_TOKEN test
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

deploy_test:
  stage: deploy_test
  environment: test
  script:
    - n current
    - cd web
    - npm install
    - npm run build
    - cd ..
    - n 10
    - cd functions
    - npm install
    - npm run build
    - cd ..
    - firebase use --token $FIREBASE_TOKEN test
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID" --non-interactive --token $FIREBASE_TOKEN --only hosting

deploy_prod_firestore:
  stage: deploy_prod
  environment: prod
  rules:
    - changes:
        - firestore.rules
        - firestore.indexes.json
      when: manual
  script:
    - firebase use --token $FIREBASE_TOKEN prod
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

deploy_prod:
  stage: deploy_prod
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      when: manual
  environment:
    name: prod
  script:
    - n current
    - cd web
    - npm install
    - npm run build
    - cd ..
    - n 10
    - cd functions
    - npm install
    - npm run build
    - cd ..
    - firebase use --token $FIREBASE_TOKEN prod
    - firebase deploy -m "Pipeline $CI_PIPELINE_ID, Build $CI_BUILD_ID" --non-interactive --token $FIREBASE_TOKEN --only hosting

improve image uploader
  web/src/components/Images/ImageUpload.css
  web/src/components/Images/ImageUpload.jsx
Due: none

half add new imageupload process for testing
  functions/src/images.ts
  web/src/components/Images/FormImageUpload.jsx
  web/src/components/Images/ImageUpload.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupPhotos.jsx
Due: deploy_dev_functions

further improve imageupload for testing
  functions/src/groups.ts
  functions/src/images.ts
  functions/src/users.ts
  web/src/components/Images/ImageUpload.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupPhotos.css
  web/src/pages/ResourcePages/GroupPage/EditGroupPhotos.jsx
Due: deploy_dev_functions

refactor editGroup, complete image upload redo
  functions/src/groups.ts
  functions/src/images.ts
  functions/src/users.ts
  web/src/components/Forms/CreateResourceFormActions.jsx
  web/src/components/Group/CreateGroupPage/CreateGroupPage.jsx
  web/src/components/Group/CreateGroupPage/GroupInfoForm.jsx
  web/src/components/Images/FormImageUpload.jsx
  web/src/components/Images/ImageListItem.css
  web/src/components/Images/ImageListItem.jsx
  web/src/components/Images/ImageUpload.jsx
  web/src/helpers/groups.js
  web/src/pages/ResourcePages/GroupPage/EditGroupInfo.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupMembers.css
  web/src/pages/ResourcePages/GroupPage/EditGroupMembers.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupPage.jsx
  web/src/pages/ResourcePages/UserPage/EditUserPhotos.jsx
Due: deploy_dev_functions

no updateDB on imageUpload user avatar and cover
  web/src/pages/ResourcePages/UserPage/EditUserPhotos.jsx
Due: none

increase memory size for image resizing
  functions/src/images.ts
Due: deploy_dev_functions

remove publications from search results
  web/src/pages/SearchPage/SearchPage.jsx
Due: none

remove publications remnants from search
  web/src/pages/SearchPage/SearchPage.jsx
Due: none

hide unused group tabs
  web/src/helpers/resourceTypeDefinitions.js
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
  web/src/pages/ResourcePages/ResourcesFeeds.jsx
Due: none

add techniques tab to GroupPage
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
Due: none

route group tabs
  web/src/components/FilterableResults/FilterableResults.css
  web/src/components/FilterableResults/FilterableResults.jsx
  web/src/components/FilteredSelector/FilteredSelector.jsx
  web/src/pages/NotFoundPage/NotFoundPage.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupPage.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
  web/src/pages/ResourcePages/GroupPage/Groups.jsx
  web/src/pages/ResourcePages/ResourcesFeeds.jsx
Due: none

simplify create open position post
  web/src/components/Forms/FormDatabaseSearch.jsx
  web/src/components/OpenPosition/OpenPositionListItem.css
  web/src/components/OpenPosition/OpenPositionListItem.jsx
  web/src/components/Posts/Post/CreatePost/CreatePost.css
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/components/Posts/Post/CreatePost/OpenPositionPostForm.jsx
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
  web/src/components/Posts/Post/CreatePost/TypeOfTaggedResourceDropDown.jsx
Due: none

add spacing to publication post form
  web/src/components/Posts/Post/CreatePost/CreatePost.css
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
Due: none

create openposition post
  functions/src/algolia.ts
  functions/src/config.ts
  functions/src/openPositions.ts
  functions/src/posts.ts
  web/src/components/Buttons/SecondaryButton.css
  web/src/components/Forms/FormTextInput.css
  web/src/components/OpenPosition/OpenPositionListItem.css
  web/src/components/OpenPosition/OpenPositionListItem.jsx
  web/src/components/Posts/Post/CreatePost/CreatePost.css
  web/src/components/Posts/Post/CreatePost/CreatePostActions.jsx
  web/src/components/Posts/Post/CreatePost/DefaultPost.jsx
  web/src/components/Posts/Post/CreatePost/OpenPositionPostForm.jsx
  web/src/components/Posts/Post/CreatePost/PostForm.jsx
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
Due: deploy_dev_functions

add openpos to post, tidy up article page errors
  web/src/components/OpenPosition/OpenPositionListItem.jsx
  web/src/components/Posts/Post/CreatePost/OpenPositionPostForm.jsx
  web/src/components/Posts/Post/Post.jsx
  web/src/components/Posts/Post/PostParts/PostTaggedContent.jsx
  web/src/pages/ResourcePages/OpenPositionPage/OpenPositionPage.jsx
  web/src/pages/ResourcePages/ResearchFocusPage/ResearchFocusPage.jsx
  web/src/pages/ResourcePages/TechniquePage/TechniquePage.jsx
Due: none

max images per article and per group photo upload
  web/src/components/Images/FormImageUpload.jsx
  web/src/components/Images/ImageUpload.jsx
  web/src/components/ResearchFocus/CreateResearchFocus.jsx
  web/src/components/Techniques/CreateTechnique.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupPhotos.jsx
Due: none

remove publications from algolia
  functions/src/algolia.ts
Due: deploy_dev_functions

add unixtimestamp field to rFocuses and techniques
  web/src/helpers/articles.js
Due: none

add max groups per user for creating group
  web/src/components/Group/CreateGroupPage/CreateGroupPage.jsx
Due: none

limit username change 100 d, update groupref on post
  firestore.rules
  functions/src/groups.ts
  web/src/helpers/users.js
  web/src/pages/LoginSignup/ChooseUserName/ChooseUserName.jsx
Due: deploy_dev_functions, deploy_dev_firestore, deploy_test_firestore

add post to openPosition & update, rename function
  functions/src/posts.ts
  functions/src/users.ts
Due: deploy_dev_functions

reposition onboarding create tip
  web/src/components/OnboardingTips/OnboardingTip.css
Due: none

add unique key for mapped post optional tags
  web/src/components/Posts/Post/PostParts/PostTaggedContent.jsx
Due: none

require 10 seconds between create posts
  firestore.rules
  functions/src/posts.ts
  functions/src/users.ts
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/components/Posts/Post/CreatePost/DefaultPost.jsx
  web/src/components/Posts/Post/CreatePost/OpenPositionPostForm.jsx
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
Due: deploy_dev_functions, deploy_dev_firestore, deploy_test_firestore

add publicationURL UI to pub posts
  web/src/components/Posts/Post/Post.jsx
  web/src/components/Posts/Post/PostParts/PostTaggedContent.css
  web/src/components/Posts/Post/PostParts/PostTaggedContent.jsx
Due: none

record posting activity, reset every 24 hours
  firestore.rules
  functions/src/activity.ts
  functions/src/index.ts
  functions/src/posts.ts
  functions/src/users.ts
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
Due: deploy_dev_functions, deploy_dev_firestore, deploy_test_firestore

limit number of RFocuses and Techniques per group
  web/src/components/ResearchFocus/CreateResearchFocus.jsx
  web/src/components/Techniques/CreateTechnique.jsx
  web/src/helpers/articles.js
Due: none

add hover ui to createpost, fix bookmark&recommend
  firestore.rules
  web/src/components/Posts/Post/CreatePost/CreatePost.css
Due: deploy_dev_firestore, deploy_test_firestore

add publication search for author advice to CreatePost
  web/src/components/Posts/Post/CreatePost/CreatePost.css
  web/src/components/Publication/MicrosoftResults.css
  web/src/components/Publication/MicrosoftResults.jsx
Due: none

add recaptcha to SignupPage
  functions/src/activity.ts
  web/src/config.js
  web/src/helpers/useScript.js
  web/src/pages/LoginSignup/GoogleSignIn.jsx
  web/src/pages/LoginSignup/SignupPage/SignupPage.jsx
Due: deploy_dev_functions

ensure no infinite loading on GoogleSignIn
  web/src/pages/LoginSignup/GoogleSignIn.jsx
Due: none

clean up signup loading
  web/src/helpers/users.js
  web/src/pages/LoginSignup/GoogleSignIn.jsx
Due: none

use variable CORS origin in recaptcha function
  functions/src/activity.ts
  functions/src/config.ts
  web/src/pages/LoginSignup/SignupPage/SignupPage.jsx
Due: deploy_dev_functions

recaptcha contact form, refactor recaptcha
  web/src/helpers/activity.js
  web/src/helpers/useDomRemover.js
  web/src/pages/ContactPage/ContactPage.jsx
  web/src/pages/LoginSignup/SignupPage/SignupPage.jsx
Due: none

fix search overview page
  web/src/pages/SearchPage/SearchPage.jsx
Due: none

check recaptcha on search tab change
  web/src/components/Recaptcha/ManualRecaptcha.css
  web/src/components/Recaptcha/ManualRecaptcha.jsx
  web/src/helpers/activity.js
  web/src/pages/ContactPage/ContactPage.jsx
  web/src/pages/LoginSignup/SignupPage/SignupPage.jsx
  web/src/pages/SearchPage/SearchPage.jsx
Due: none

increase bot detection threshold (harder to pass)
  web/src/helpers/activity.js
  web/src/pages/ContactPage/ContactPage.jsx
  web/src/pages/LoginSignup/SignupPage/SignupPage.jsx
  web/src/pages/SearchPage/SearchPage.jsx
Due: none

remove log
  web/src/helpers/activity.js
Due: none

resize all images half implemented for test
  functions/src/activity.ts
  functions/src/config.ts
  functions/src/images.ts
  web/src/components/Images/ImageUpload.jsx
  web/src/components/ResearchFocus/CreateResearchFocus.jsx
  web/src/components/Techniques/CreateTechnique.jsx
  web/src/helpers/articles.js
  web/src/helpers/images.js
  web/src/pages/ResourcePages/GroupPage/EditGroupPhotos.jsx
Due: deploy_dev_functions

remove duplicate "_" while testing image resize
  functions/src/images.ts
  web/src/helpers/images.js
Due: deploy_dev_functions
