Repository Craig-McAuliffe/labspoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_dev_functions, deploy_dev_firestore, deploy_test_firestore

deploy_dev_functions:
  stage: deploy_dev
  environment: dev
  script:
  - echo "there are functions to deploy"

deploy_dev_firestore:
  stage: deploy_dev
  environment: dev
  script:
  - firebase use --token $FIREBASE_TOKEN dev
  - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

deploy_test_firestore:
  stage: deploy_test
  environment: test
  script:
  - firebase use --token $FIREBASE_TOKEN test
  - firebase deploy -m "pipeline $CI_PIPELINE_ID build firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

modify about page text
  web/src/pages/AboutPage/AboutPage.jsx
Due: none

check new user publications for filter author IDs
  functions/src/users.ts
  web/src/pages/ResourcePages/GroupPage/EditGroupPosts.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupPublications.jsx
Due: deploy_dev_functions

check publications for bad filterAuthorIDs
  functions/src/users.ts
Due: deploy_dev_functions

remove check existing pubs for filterauthorIDs
  functions/src/users.ts
Due: deploy_dev_functions

correct existing publication filterAuthorIDs
  functions/src/users.ts
Due: deploy_dev_functions

fix addUserIDToFilterAuthorIDs
  functions/src/users.ts
Due: deploy_dev_functions

remove addUserIDToFilterAuthorIDs
  functions/src/users.ts
Due: deploy_dev_functions

log if filter author IDs are not correctly added
  functions/src/users.ts
Due: deploy_dev_functions

fix linkify on posts
  web/src/components/Article/Article.jsx
  web/src/components/Posts/Post/Post.jsx
Due: none

add button type to CreatePost buttons
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
  web/src/components/Posts/Post/CreatePost/TypeOfTaggedResourceDropDown.jsx
Due: none

tweak FollowOptionsPopover submit
  web/src/App.css
  web/src/components/Forms/ErrorMessage.jsx
  web/src/components/Popovers/FollowOptionsPopover.jsx
  web/src/helpers/topics.js
Due: none

add FollowOptionsPopover to FollowsPage. Fix
  web/src/components/FilterableResults/FilterableResults.jsx
  web/src/components/Group/GroupListItem.jsx
  web/src/components/Popovers/FollowOptionsPopover.css
  web/src/components/Popovers/FollowOptionsPopover.jsx
  web/src/components/Results/Results.jsx
  web/src/components/Topics/TopicListItem.jsx
  web/src/components/User/UserListItem.css
  web/src/components/User/UserListItem.jsx
  web/src/pages/FollowsPage/FollowsPage.jsx
Due: none

remove self from follows on FollowsPage UserPage
  web/src/helpers/users.js
  web/src/pages/FollowsPage/FollowsPage.jsx
  web/src/pages/ResourcePages/UserPage/UserPage.jsx
Due: none

add options for FollowsPage groups,topics
  web/src/components/Buttons/Buttons.css
  web/src/components/Buttons/CancelButton.jsx
  web/src/components/Buttons/PrimaryButton.css
  web/src/components/Buttons/PrimaryButton.jsx
  web/src/components/Group/GroupListItem.css
  web/src/components/Group/GroupListItem.jsx
  web/src/components/Popovers/FollowOptionsPopover.css
  web/src/components/Popovers/FollowOptionsPopover.jsx
  web/src/components/Topics/TopicListItem.css
  web/src/components/Topics/TopicListItem.jsx
  web/src/components/User/UserListItem.css
  web/src/components/User/UserListItem.jsx
  web/src/pages/FollowsPage/FollowsPage.jsx
Due: none

improve TopicListItem display
  web/src/components/Topics/TopicListItem.css
  web/src/components/Topics/TopicListItem.jsx
Due: none

add followers to group and user pages
  firestore.rules
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
  web/src/pages/ResourcePages/UserPage/UserPage.jsx
Due: deploy_dev_firestore, deploy_test_firestore

tidy up Filter
  web/src/components/Filter/Filter.css
  web/src/components/Filter/Filter.jsx
  web/src/components/FilterableResults/FilterableResults.css
  web/src/components/FilterableResults/FilterableResults.jsx
  web/src/components/Popovers/OnHoverPopover.css
  web/src/components/Popovers/OnHoverPopover.jsx
  web/src/pages/FollowingFeedPage/FollowingFeedPage.jsx
Due: none

add date and recommendedCount to post
  web/src/components/Posts/Post/Post.css
  web/src/components/Posts/Post/Post.jsx
Due: none

emphasize appearance of TagTopics
  web/src/assets/GeneralActionIcons.jsx
  web/src/components/Popovers/Popover.css
  web/src/components/Popovers/Popover.jsx
  web/src/components/Topics/SearchMSFields.css
  web/src/components/Topics/TagTopics.css
  web/src/components/Topics/TagTopics.jsx
Due: none

replace commas tweets, TagTopics loading position
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/components/Topics/SearchMSFields.jsx
  web/src/components/Topics/TagTopics.css
  web/src/components/Topics/TagTopics.jsx
Due: none

do not trigger update email for posts by user
  functions/src/email.ts
Due: deploy_dev_functions

do not send update email if author is user
  functions/src/email.ts
Due: deploy_dev_functions

remove microsoft publication search cache provider
  web/src/App.jsx
Due: none

remove TypeOfTaggedResourceDropDown dropdown
  web/src/components/Posts/Post/CreatePost/TypeOfTaggedResourceDropDown.jsx
Due: none

add technician option to CreateOpenPosition
  web/src/components/OpenPosition/CreateOpenPosition.jsx
Due: none

create post direct from publication. refactor.
  web/src/components/Buttons/CreateButton.css
  web/src/components/Buttons/CreateButton.jsx
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/components/Posts/Post/CreatePost/DefaultPost.jsx
  web/src/components/Posts/Post/CreatePost/OpenPositionPostForm.jsx
  web/src/components/Posts/Post/CreatePost/PostForm.jsx
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
  web/src/components/Posts/Post/PostParts/PostTaggedContent.jsx
  web/src/pages/ResourcePages/PublicationPage/PublicationPage.css
  web/src/pages/ResourcePages/PublicationPage/PublicationPage.jsx
  web/src/pages/ResourcePages/ResourcesFeeds.jsx
Due: none

improve UI QuickCreatePost from PublicationPage
  web/src/components/Forms/Articles/HeaderAndBodyArticleInput.css
  web/src/pages/ResourcePages/PublicationPage/PublicationPage.css
  web/src/pages/ResourcePages/PublicationPage/PublicationPage.jsx
Due: none

fix email deployment errors
  functions/src/email.ts
Due: deploy_dev_functions

fix msFieldSearch error and filter display
  web/src/components/Filter/Filter.jsx
  web/src/pages/OnboardingPage/OnboardingPage.css
  web/src/pages/OnboardingPage/OnboardingPage.jsx
Due: none

add filterOptions indexes, fix ordering of filter
  firestore.indexes.json
  web/src/components/Posts/Post/Post.css
  web/src/components/Posts/Post/Post.jsx
  web/src/pages/FollowingFeedPage/FollowingFeedPage.jsx
Due: deploy_dev_firestore, deploy_test_firestore

remove post option from PublicationPage if no user
  web/src/pages/ResourcePages/PublicationPage/PublicationPage.jsx
Due: none

comment useEffect purpose in filter
  web/src/components/Filter/Filter.jsx
Due: none

handle FollowOptionsPopover preselection properly
  web/src/components/PaginatedResourceFetch/PaginatedResourceFetch.css
  web/src/components/PaginatedResourceFetch/PaginatedResourceFetchAndResults.css
  web/src/components/PaginatedResourceFetch/PaginatedResourceFetchAndResults.jsx
  web/src/components/Popovers/FollowOptionsPopover.jsx
Due: none

remove loading spinner from suggested sider
  web/src/components/SuggestedContent/SimilarContentSider.jsx
Due: none

retrigger used tabs check on userID change
  web/src/pages/ResourcePages/UserPage/UserPage.jsx
Due: none

refetch GroupPage used tabs on groupID change
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
Due: none

add loading spinners to GroupPage UserPage
  web/src/components/LoadingSpinner/LoadingSpinner.css
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
  web/src/pages/ResourcePages/UserPage/UserPage.jsx
Due: none

add AboutUsPage
  web/src/components/Layout/Header/AvatarDropDown.jsx
  web/src/pages/AboutPage/AboutPage.css
  web/src/pages/AboutPage/AboutPage.jsx
  web/src/pages/AboutPage/AboutUsPage.css
  web/src/pages/AboutPage/AboutUsPage.jsx
  web/src/routes.jsx
Due: none

verify all users on sign up, custom pubs, rules
  firestore.rules
  functions/src/users.ts
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
  web/src/helpers/users.js
Due: deploy_dev_functions, deploy_dev_firestore, deploy_test_firestore

remove VerifyExistingUsers function
  functions/src/users.ts
Due: deploy_dev_functions

Path conditions:
  deploy_dev_functions: any of: functions/**/*
  deploy_dev_firestore: any of: firestore.rules, firestore.indexes.json
  deploy_test_firestore: any of: firestore.rules, firestore.indexes.json
