Repository Craig-McAuliffe/labspoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_dev_functions, deploy_dev_firestore, deploy_test_functions, deploy_test_firestore, deploy_prod_functions, deploy_prod_firestore

.gitlab-ci.yml:

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "web"'
      when: always

image: node:latest

stages:
  - deploy_dev
  - deploy_test
  - deploy_prod

cache:
  key: default
  paths:
    - web/node_modules/
    - functions/node_modules

before_script:
  - npm i -g firebase-tools
  - npm i -g n

deploy_dev_functions:
  stage: deploy_dev
  environment: dev
  rules:
    - changes:
        - functions/**/*
  script:
    - cd functions
    - npm install
    - npm run build
    - firebase use --token $FIREBASE_TOKEN dev
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build functions" --non-interactive --token $FIREBASE_TOKEN --only functions

deploy_dev_firestore:
  stage: deploy_dev
  environment: dev
  rules:
    - changes:
        - firestore.rules
        - firestore.indexes.json
  script:
    - firebase use --token $FIREBASE_TOKEN dev
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

deploy_dev:
  stage: deploy_dev
  environment: dev
  script:
    - n current
    - cd web
    - npm install
    - npm run build
    - cd ..
    - n 10
    - firebase use --token $FIREBASE_TOKEN dev
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID" --non-interactive --token $FIREBASE_TOKEN --only hosting, storage

deploy_test_functions:
  stage: deploy_test
  environment: test
  rules:
    - changes:
        - functions/**/*
    - when: manual
  script:
    - cd functions
    - npm install
    - npm run build
    - firebase use --token $FIREBASE_TOKEN test
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build functions" --non-interactive --token $FIREBASE_TOKEN --only functions

deploy_test_firestore:
  stage: deploy_test
  environment: test
  rules:
    - changes:
        - firestore.rules
        - firestore.indexes.json
    - when: manual
  script:
    - firebase use --token $FIREBASE_TOKEN test
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

deploy_test:
  stage: deploy_test
  rules:
    - when: manual
  environment: test
  script:
    - n current
    - cd web
    - npm install
    - npm run build
    - cd ..
    - n 10
    - npm --prefix functions install
    - npm run --prefix functions build
    - firebase use --token $FIREBASE_TOKEN test
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID" --non-interactive --token $FIREBASE_TOKEN --only hosting, storage

deploy_prod_functions:
  stage: deploy_prod
  environment: prod
  rules:
    - changes:
        - functions/**/*
    - when: manual
  script:
    - cd functions
    - npm install
    - npm run build
    - firebase use --token $FIREBASE_TOKEN prod
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build functions" --non-interactive --token $FIREBASE_TOKEN --only functions

deploy_prod_firestore:
  stage: deploy_prod
  environment: prod
  rules:
    - changes:
        - firestore.rules
        - firestore.indexes.json
    - when: manual
  script:
    - firebase use --token $FIREBASE_TOKEN prod
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

deploy_prod:
  stage: deploy_prod
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      when: manual
  environment:
    name: prod
  script:
    - n current
    - cd web
    - npm install
    - npm run build
    - cd ..
    - n 10
    - cd functions
    - npm install
    - npm run build
    - cd ..
    - firebase use --token $FIREBASE_TOKEN prod
    - firebase deploy -m "Pipeline $CI_PIPELINE_ID, Build $CI_BUILD_ID" --non-interactive --token $FIREBASE_TOKEN --only hosting, storage

update pub refs on topics. use pub refs
  functions/src/publications.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

update topics, authors, groups on article changes
  firestore.rules
  functions/src/openPositions.ts
  functions/src/researchFocuses.ts
  functions/src/techniques.ts
  web/src/components/ResearchFocus/CreateResearchFocus.jsx
  web/src/components/Techniques/CreateTechnique.jsx
  web/src/helpers/articles.js
  web/src/helpers/topics.js
Due: deploy_dev_functions, deploy_dev_firestore, deploy_test_functions, deploy_test_firestore, deploy_prod_functions, deploy_prod_firestore

add article topics to user
  functions/src/users.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

user UserPublicationRef, update it on user change
  functions/src/microsoft.ts
  functions/src/msUser.ts
  functions/src/publications.ts
  functions/src/users.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

neaten ui, add topicFilterIDs to articles
  web/src/components/ListItem/ListItemTopics.css
  web/src/components/ListItem/ListItemTopics.jsx
  web/src/components/Posts/Post/CreatePost/CreatePost.css
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/components/Posts/Post/Post.jsx
  web/src/components/Topics/TagTopics.css
  web/src/components/Topics/TagTopics.jsx
  web/src/helpers/articles.js
  web/src/pages/FollowingFeedPage/FollowingFeedPage.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupPage.css
  web/src/pages/ResourcePages/GroupPage/EditGroupPage.jsx
Due: none

improve post links ui
  web/src/components/Posts/Post/Post.css
  web/src/components/Posts/Post/Post.jsx
Due: none

handle https errors linking to microsoft user
  web/src/components/Publication/ConnectToPublications/ConnectToPublications.jsx
Due: none

validate inputs, fix rules&filter conditional display
  firestore.indexes.json
  firestore.rules
  functions/src/algolia.ts
  web/src/components/Filter/Filter.jsx
  web/src/components/FilterableResults/FilterableResults.jsx
  web/src/components/Forms/Articles/HeaderAndBodyArticleInput.jsx
  web/src/components/Group/CreateGroupPage/GroupInfoForm.jsx
  web/src/components/Images/ImageListItem.jsx
  web/src/components/Images/ImageUpload.jsx
  web/src/components/OpenPosition/CreateOpenPosition.jsx
  web/src/components/Posts/Post/CreatePost/CreatePost.css
  web/src/components/Posts/Post/CreatePost/DefaultPost.jsx
  web/src/components/Posts/Post/CreatePost/OpenPositionPostForm.jsx
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
  web/src/components/SearchBar.jsx
  web/src/components/User/UserCoverPhoto.jsx
  web/src/pages/LoginSignup/ChooseUserName/ChooseUserName.jsx
  web/src/pages/LoginSignup/SignupPage/SignupPage.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupInfo.jsx
  web/src/pages/ResourcePages/UserPage/EditUserInfo.jsx
Due: deploy_dev_functions, deploy_dev_firestore, deploy_test_functions, deploy_test_firestore, deploy_prod_functions, deploy_prod_firestore

add contact page, improve privacy policy
  web/src/pages/ContactPage/ContactPage.css
  web/src/pages/ContactPage/ContactPage.jsx
  web/src/pages/ContactPage/HelpPage.jsx
  web/src/pages/ContactPage/SomethingWrongPage.jsx
  web/src/pages/ContactPage/SuggestionsPage.jsx
  web/src/pages/PrivacyPolicyPage/PrivacyPolicyPage.jsx
Due: none

route contact page, add app bot detector...
  web/src/App.css
  web/src/App.jsx
  web/src/components/Layout/Header/AvatarDropDown.jsx
  web/src/pages/LoginSignup/LoginPage/LoginPage.jsx
  web/src/pages/LoginSignup/SignupPage/SignupPage.css
  web/src/pages/LoginSignup/SignupPage/SignupPage.jsx
  web/src/routes.jsx
Due: none

change error alert messages
  web/src/components/Group/CreateGroupPage/CreateGroupPage.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupInfo.jsx
Due: none

installed jquery package
  web/package-lock.json
  web/package.json
Due: none

install algoliasearch and react-instantsearch-dom
  web/package-lock.json
  web/package.json
Due: none

uninstall ant design
  web/package-lock.json
  web/package.json
Due: none

remove react-images-upload
  web/package-lock.json
  web/package.json
Due: none

update bootstrap
  web/package-lock.json
  web/package.json
Due: none

use react-router-dom not react-router
  web/src/pages/LoginSignup/LoginPage/LoginPage.jsx
  web/src/pages/LoginSignup/SignupPage/SignupPage.jsx
Due: none

update formik
  web/package-lock.json
  web/package.json
Due: none

uninstall firebaseui
  web/package-lock.json
  web/package.json
Due: none

update react
  web/package-lock.json
  web/package.json
Due: none

add bookmark and recommended count to doc
  web/src/components/Buttons/BookmarkButton.jsx
  web/src/components/Buttons/RecommendButton.jsx
  web/src/helpers/resourceTypeDefinitions.js
Due: none

change filter, listitemtopics ui, redirect no name
  web/src/components/Filter/Filter.jsx
  web/src/components/ListItem/ListItemTopics.css
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/pages/ResourcePages/CreatePage.jsx
Due: none

improve follows and filter updates
  functions/src/algolia.ts
  functions/src/groups.ts
  functions/src/posts.ts
  functions/src/topics.ts
  functions/src/users.ts
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

update rules, group member remove post from group
  firestore.rules
Due: deploy_dev_firestore, deploy_test_firestore, deploy_prod_firestore

update algoliasearch in functions
  functions/package-lock.json
  functions/package.json
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

update firebase-functions in functions
  functions/package-lock.json
  functions/package.json
Due: deploy_dev_functions, deploy_test_functions, deploy_prod_functions

update react-bootstrap
  web/package-lock.json
  web/package.json
Due: none

update google react button
  web/package-lock.json
  web/package.json
Due: none

update react infinite scroll component
  web/package-lock.json
  web/package.json
Due: none

update react-scripts
  web/package-lock.json
  web/package.json
Due: none

update firebase and yup
  web/package-lock.json
  web/package.json
Due: none

update prettier
  web/package-lock.json
  web/package.json
Due: none

update husky
  web/package-lock.json
  web/package.json
Due: none

update axios
  web/package-lock.json
  web/package.json
Due: none

update react-dom
  web/package-lock.json
  web/package.json
Due: none

update eslint-config-prettier@7.2.0
  web/package-lock.json
  web/package.json
Due: none

update eslint-config-react-app
  web/package.json
Due: none
