Repository Craig-McAuliffe/labspoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_dev_functions, deploy_dev_firestore, deploy_test_firestore

deploy_dev_functions:
  stage: deploy_dev
  environment: dev
  script:
  - echo "there are functions to deploy"

deploy_dev_firestore:
  stage: deploy_dev
  environment: dev
  script:
  - firebase use --token $FIREBASE_TOKEN dev
  - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

deploy_test_firestore:
  stage: deploy_test
  environment: test
  script:
  - firebase use --token $FIREBASE_TOKEN test
  - firebase deploy -m "pipeline $CI_PIPELINE_ID build firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

filter topic posts, create from FollowingFeedPage
  firestore.rules
  functions/src/posts.ts
  functions/src/topics.ts
  web/src/components/Buttons/CreateButton.css
  web/src/components/Buttons/CreateButton.jsx
  web/src/components/Filter/Filter.jsx
  web/src/components/FilterableResults/FilterableResults.jsx
  web/src/pages/FollowingFeedPage/FollowingFeedPage.css
  web/src/pages/FollowingFeedPage/FollowingFeedPage.jsx
  web/src/pages/ResourcePages/ResourcesFeeds.jsx
  web/src/pages/TopicPage/TopicPage.jsx
Due: deploy_dev_functions, deploy_dev_firestore, deploy_test_firestore

allow for errors in OpenPositionListItem
  web/src/components/OpenPosition/OpenPositionListItem.jsx
Due: none

small create button UI change
  web/src/pages/FollowingFeedPage/FollowingFeedPage.css
Due: none

users cannot up or downvote their own post
  web/src/components/Posts/Post/Post.jsx
Due: none

working comments, refactor pagination
  firestore.rules
  functions/src/algolia.ts
  functions/src/posts.ts
  web/src/assets/PostActionIcons.jsx
  web/src/components/Buttons/BookmarkButton.jsx
  web/src/components/Buttons/CommentButton.css
  web/src/components/Buttons/CommentButton.jsx
  web/src/components/Buttons/GroupBookmarkButton.jsx
  web/src/components/Buttons/QualityScoreButton.jsx
  web/src/components/Buttons/RecommendButton.jsx
  web/src/components/Forms/Articles/HeaderAndBodyArticleInput.css
  web/src/components/Forms/FormTextInput.jsx
  web/src/components/PaginatedResourceFetch/PaginatedResourceFetchAndResults.css
  web/src/components/PaginatedResourceFetch/PaginatedResourceFetchAndResults.jsx
  web/src/components/Popovers/FollowOptionsPopover.jsx
  web/src/components/Posts/Post/CreatePost/PostForm.jsx
  web/src/components/Posts/Post/Post.css
  web/src/components/Posts/Post/Post.jsx
  web/src/components/Posts/Post/PostParts/PostActions.css
  web/src/components/Posts/Post/PostParts/PostActions.jsx
  web/src/components/Results/Results.jsx
  web/src/components/Topics/SearchMSFields.css
  web/src/components/Topics/SearchMSFields.jsx
  web/src/helpers/resourceTypeDefinitions.js
Due: deploy_dev_functions, deploy_dev_firestore, deploy_test_firestore

fix quality score active
  web/src/components/Posts/Post/Post.jsx
Due: none

new comments appear, fix pagination
  functions/src/users.ts
  web/src/components/PaginatedResourceFetch/PaginatedResourceFetchAndResults.jsx
  web/src/components/Popovers/Popover.jsx
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/components/Posts/Post/Post.jsx
  web/src/components/Posts/Post/PostParts/PostActions.jsx
  web/src/components/Topics/SearchMSFields.jsx
  web/src/components/Topics/TagTopics.css
  web/src/components/Topics/TagTopics.jsx
Due: deploy_dev_functions

fix dark display FollowOptionsPopover, FollowButton
  web/src/components/Buttons/BookmarkButton.jsx
  web/src/components/Buttons/CommentButton.jsx
  web/src/components/Buttons/FollowButton.jsx
  web/src/components/Buttons/QualityScoreButton.jsx
  web/src/components/Buttons/RecommendButton.jsx
  web/src/components/Group/FollowGroupButton.jsx
  web/src/components/PaginatedResourceFetch/PaginatedResourceFetchAndResults.jsx
  web/src/components/Popovers/FollowOptionsPopover.css
  web/src/components/Popovers/FollowOptionsPopover.jsx
  web/src/components/Popovers/Popover.css
  web/src/components/Popovers/Popover.jsx
  web/src/components/Posts/Post/PostParts/PostActions.jsx
  web/src/components/Topics/FollowTopicButton.jsx
  web/src/components/User/FollowUserButton/FollowUserButton.jsx
Due: none

create post from topic page
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/pages/ResourcePages/PublicationPage/PublicationPage.jsx
  web/src/pages/TopicPage/TopicPage.jsx
Due: none

fix listening for post on topic page
  web/src/pages/TopicPage/TopicPage.jsx
Due: none

hide filter collection if no options
  web/src/components/Filter/Filter.jsx
Due: none

groupBookmark doc is like bookmark doc
  web/src/components/Buttons/GroupBookmarkButton.jsx
  web/src/pages/ResourcePages/GroupPage/GroupMemberZone.jsx
Due: none

refresh news feed after removing item OverviewPage
  web/src/components/FilterableResults/FilterableResults.jsx
  web/src/components/ListItem/ListItemCommonComponents.css
  web/src/components/ListItem/ListItemCommonComponents.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
Due: none

update group bookmarks
  functions/src/posts.ts
Due: deploy_dev_functions

batch posts to Topics createpost, limit no. topics
  functions/src/posts.ts
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/components/Topics/TagTopics.css
  web/src/components/Topics/TagTopics.jsx
  web/src/pages/TopicPage/TopicPage.jsx
Due: deploy_dev_functions

dont use bookmark variation of post
  web/src/components/Bookmarks/BookmarkListItem/BookmarkListItem.jsx
  web/src/components/Posts/Post/Post.jsx
  web/src/components/Posts/Post/PostParts/PostActions.jsx
  web/src/components/Results/Results.jsx
Due: none

refresh bookmark feed page on remove bookmark
  web/src/components/Buttons/BookmarkButton.jsx
Due: none

delete addExistingTopicPostsToFilter DeclareExistingUsersMembersOfGroups
  functions/src/topics.ts
  functions/src/users.ts
Due: deploy_dev_functions

add postTypes to followOptions, fix backend
  functions/src/config.ts
  functions/src/helpers.ts
  functions/src/topics.ts
  web/src/components/Popovers/FollowOptionsPopover.css
  web/src/components/Popovers/FollowOptionsPopover.jsx
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/components/Posts/Post/CreatePost/OpenPositionPostForm.jsx
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
  web/src/components/Posts/Post/CreatePost/TypeOfTaggedResourceDropDown.jsx
  web/src/helpers/posts.js
Due: deploy_dev_functions

fix no post types selected error
  web/src/components/Popovers/FollowOptionsPopover.jsx
Due: none

allow skip topic createPost, batch add to profile
  functions/src/posts.ts
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/components/Topics/TagTopics.css
  web/src/components/Topics/TagTopics.jsx
Due: deploy_dev_functions

add funding opportunity post type
  functions/src/config.ts
  functions/src/helpers.ts
  web/src/components/Popovers/FollowOptionsPopover.jsx
  web/src/components/Posts/Post/CreatePost/CreatePost.css
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/components/Posts/Post/CreatePost/TypeOfTaggedResourceDropDown.jsx
  web/src/helpers/posts.js
Due: deploy_dev_functions

labspoon shut down
  web/src/App.css
  web/src/routes.jsx
Due: none

Path conditions:
  deploy_dev_functions: any of: functions/**/*
  deploy_dev_firestore: any of: firestore.rules, firestore.indexes.json
  deploy_test_firestore: any of: firestore.rules, firestore.indexes.json
