Repository Craig-McAuliffe/labspoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_dev_functions, deploy_dev_firestore, deploy_test_firestore

deploy_dev_functions:
  stage: deploy_dev
  environment: dev
  script:
  - echo "there are functions to deploy"

deploy_dev_firestore:
  stage: deploy_dev
  environment: dev
  script:
  - firebase use --token $FIREBASE_TOKEN dev
  - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

deploy_test_firestore:
  stage: deploy_test
  environment: test
  script:
  - firebase use --token $FIREBASE_TOKEN test
  - firebase deploy -m "pipeline $CI_PIPELINE_ID build firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

remove reformat existing algolia open positions
  functions/src/algolia.ts
Due: deploy_dev_functions

remove unused imports algolia.ts
  functions/src/algolia.ts
Due: deploy_dev_functions

add full user list item to claimed group
  web/src/App.jsx
  web/src/helpers/users.js
  web/src/pages/LoginSignup/SignupPage/SignupPage.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
Due: none

fix onboarding&signup. Mobile display claim group
  web/src/components/Layout/Header/AvatarDropDown.jsx
  web/src/components/Popovers/Popover.jsx
  web/src/index.css
  web/src/pages/LoginSignup/ChooseUserName/ChooseUserName.jsx
  web/src/pages/LoginSignup/SignupPage/SignupPage.jsx
  web/src/pages/OnboardingPage/OnboardingPage.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.css
Due: none

improve mobile group details design
  web/src/components/Buttons/Buttons.css
  web/src/components/Group/CreateGroupPage/GroupInfoForm.css
  web/src/components/Group/CreateGroupPage/GroupInfoForm.jsx
  web/src/pages/ResourcePages/GroupPage/GroupDetails.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.css
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
Due: none

add padding tabs, put footer top right
  web/src/App.css
  web/src/App.jsx
  web/src/components/Dropdown.jsx
  web/src/components/FilterableResults/FilterableResults.jsx
  web/src/components/Layout/Content.css
  web/src/components/Layout/Header/AvatarDropDown.css
  web/src/components/Layout/Header/AvatarDropDown.jsx
  web/src/components/Layout/Header/Header.css
  web/src/components/Layout/Header/Header.jsx
  web/src/components/Topics/TopicListItem.css
  web/src/pages/SearchPage/SearchPage.css
  web/src/pages/SearchPage/SearchPage.jsx
Due: none

improve user page avatar placement mobile
  web/src/pages/ResourcePages/UserPage/UserPage.css
Due: none

improve tag topics and tag resource mobile display
  web/src/components/Posts/Post/CreatePost/CreatePost.css
  web/src/components/Topics/TagTopics.css
  web/src/components/Topics/TagTopics.jsx
Due: none

fix instant search display, remove self custompubs
  web/src/components/Posts/Post/CreatePost/CreatePost.css
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
  web/src/components/Publication/CreateCustomPublication.jsx
  web/src/components/User/UserListItem.jsx
  web/src/pages/SearchPage/SearchPage.css
  web/src/pages/SearchPage/SearchPage.jsx
Due: none

update instant search, remove default reset search
  web/package-lock.json
  web/package.json
  web/src/pages/SearchPage/SearchPage.css
Due: none

fix see more button SearchPage overview
  web/src/pages/SearchPage/SearchPage.css
  web/src/pages/SearchPage/SearchPage.jsx
Due: none

improve SearchPage overview spacing
  web/src/pages/SearchPage/SearchPage.css
Due: none

do not search for author name with algolia
  functions/src/algolia.ts
Due: deploy_dev_functions

correct onboarding text, batch add twitter groups
  functions/src/groups.ts
  web/src/pages/OnboardingPage/OnboardingPage.jsx
Due: deploy_dev_functions

remove create generated groups from twitter
  functions/src/groups.ts
Due: deploy_dev_functions

unfocus searchbar on submit, neaten follow buttons
  web/src/components/Group/FollowGroupButton.jsx
  web/src/components/SearchBar.jsx
  web/src/components/Topics/FollowTopicButton.jsx
  web/src/components/User/FollowUserButton/FollowUserButton.jsx
Due: none

improve GroupListItem mobile,FollowButton position
  web/src/components/Buttons/FollowButton.jsx
  web/src/components/Group/CreateGroupPage/GroupInfoForm.jsx
  web/src/components/Group/GroupListItem.css
  web/src/components/Group/GroupListItem.jsx
  web/src/components/Group/GroupListItemHeadline.jsx
  web/src/components/Popovers/Popover.css
  web/src/components/Popovers/Popover.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupInfo.jsx
  web/src/pages/ResourcePages/GroupPage/GroupDetails.jsx
Due: none

improve group list item mobile
  web/src/components/Buttons/PrimaryButton.css
  web/src/components/Group/GroupListItem.css
  web/src/components/OnboardingTips/OnboardingTip.css
Due: none

increase max group name. popup confirm claim group
  web/Confirmation Statement Submission Number.rtf
  web/src/components/Group/CreateGroupPage/GroupInfoForm.jsx
  web/src/components/Popovers/Popover.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupInfo.jsx
  web/src/pages/ResourcePages/GroupPage/GroupDetails.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.css
Due: none

improve PrivacyPolicyPage
  web/src/pages/PrivacyPolicyPage/PrivacyPolicyPage.jsx
Due: none

add EditGroupOverviewPage,simple GroupPage routing
  firestore.rules
  web/src/colours.txt
  web/src/components/Buttons/NegativeButton.jsx
  web/src/components/Buttons/PrimaryButton.css
  web/src/components/Buttons/SecondaryButton.jsx
  web/src/components/FilterableResults/FilterableResults.jsx
  web/src/components/Images/ImageListItem.jsx
  web/src/components/Popovers/Popover.css
  web/src/components/Popovers/Popover.jsx
  web/src/helpers/resources.js
  web/src/pages/ResourcePages/GroupPage/EditGroupOverviewPage.css
  web/src/pages/ResourcePages/GroupPage/EditGroupOverviewPage.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupPage.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
Due: deploy_dev_firestore, deploy_test_firestore

change image resize. add resizeImageOnCall
  functions/src/groups.ts
  functions/src/helpers.ts
  functions/src/images.ts
  functions/src/openPositions.ts
  web/src/components/Images/ImageUpload.jsx
  web/src/components/ResearchFocus/CreateResearchFocus.jsx
  web/src/components/Techniques/CreateTechnique.jsx
  web/src/helpers/images.js
  web/src/pages/ResourcePages/GroupPage/EditGroupPhotos.jsx
  web/src/pages/ResourcePages/UserPage/EditUserPhotos.jsx
Due: deploy_dev_functions

remove images-resizeImageOnTrigger
  functions/src/images.ts
Due: deploy_dev_functions

fix duplicate imports in functions
  functions/src/helpers.ts
Due: deploy_dev_functions

allow selection of photo highlights. improve spinner
  web/src/components/Images/ImageListItem.css
  web/src/components/Images/ImageListItem.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupOverviewPage.css
  web/src/pages/ResourcePages/GroupPage/EditGroupOverviewPage.jsx
Due: none

useReducer for photo highlighting, fix highlighting
  web/src/App.css
  web/src/components/Forms/SuccessMessage.css
  web/src/components/Images/ImageListItem.css
  web/src/components/Images/ImageListItem.jsx
  web/src/components/Images/ImageUpload.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupOverviewPage.css
  web/src/pages/ResourcePages/GroupPage/EditGroupOverviewPage.jsx
Due: none

fix change group during article creation
  web/src/components/Forms/Groups/SelectGroup.jsx
Due: none

update pinned items, use group signature articles
  functions/src/config.ts
  functions/src/groups.ts
  functions/src/msUser.ts
  functions/src/researchFocuses.ts
  functions/src/techniques.ts
  web/src/App.css
  web/src/components/Dropdown.jsx
  web/src/components/Forms/Groups/SelectGroup.jsx
  web/src/components/Images/ImageListItem.css
  web/src/components/Layout/Header/Header.jsx
  web/src/components/ListItem/ListItemCommonComponents.jsx
  web/src/helpers/articles.js
  web/src/pages/ResourcePages/GroupPage/GroupPage.css
Due: deploy_dev_functions

remove log
  functions/src/groups.ts
Due: deploy_dev_functions

add EditGroupDisplay basic layout
  web/src/components/FilterableResults/FilterableResults.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupDisplay.css
  web/src/pages/ResourcePages/GroupPage/EditGroupDisplay.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupPage.jsx
  web/src/pages/ResourcePages/GroupPage/GroupDetails.jsx
Due: none

progress on choose group background design
  web/src/App.css
  web/src/assets/BlankBackgrounds.jsx
  web/src/assets/CyclesDark.jsx
  web/src/assets/CyclesLight.jsx
  web/src/assets/MandelbrotDark.jsx
  web/src/assets/MandelbrotLight.jsx
  web/src/assets/SingularityDark.jsx
  web/src/assets/SingularityLight.jsx
  web/src/assets/SphericalDark.jsx
  web/src/assets/SphericalLight.jsx
  web/src/assets/SquaresDark.jsx
  web/src/assets/SquaresLight.jsx
  web/src/assets/TowersDark.jsx
  web/src/assets/TowersLight.jsx
  web/src/components/FilterableResults/FilterableResults.css
  web/src/components/FilterableResults/FilterableResults.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupDisplay.css
  web/src/pages/ResourcePages/GroupPage/EditGroupDisplay.jsx
Due: none

finish display option selecting states and UI
  web/src/App.css
  web/src/assets/SquaresLight.jsx
  web/src/colours.txt
  web/src/components/FilterableResults/FilterableResults.css
  web/src/components/FilterableResults/FilterableResults.jsx
  web/src/components/SearchBar.jsx
  web/src/components/Tabs/Tabs.css
  web/src/components/Tabs/Tabs.jsx
  web/src/components/User/UserCoverPhoto.css
  web/src/index.css
  web/src/pages/ResourcePages/GroupPage/EditGroupDisplay.css
  web/src/pages/ResourcePages/GroupPage/EditGroupDisplay.jsx
  web/src/pages/ResourcePages/GroupPage/GroupDetails.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.css
  web/src/routes.jsx
Due: none

fix tabs component
  web/src/components/Tabs/Tabs.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupDisplay.css
Due: none

fix tabs component 2
  web/src/components/Tabs/Tabs.jsx
Due: none

submit display preferences
  web/src/components/Tabs/Tabs.css
  web/src/components/Tabs/Tabs.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupDisplay.css
  web/src/pages/ResourcePages/GroupPage/EditGroupDisplay.jsx
Due: none

fix submit group display options
  web/src/pages/ResourcePages/GroupPage/EditGroupDisplay.jsx
Due: none

complete group display customisation light
  web/src/App.css
  web/src/assets/MandelbrotDark.jsx
  web/src/assets/MandelbrotLight.jsx
  web/src/assets/SphericalLight.jsx
  web/src/assets/SquaresLight.jsx
  web/src/components/Buttons/Buttons.css
  web/src/components/Buttons/EditButton.jsx
  web/src/components/FilterableResults/FilterableResults.jsx
  web/src/components/Posts/Post/Post.css
  web/src/components/Publication/PublicationListItem.css
  web/src/components/SeeMore.css
  web/src/components/SeeMore.jsx
  web/src/components/Tabs/Tabs.css
  web/src/components/Tabs/Tabs.jsx
  web/src/components/Topics/TopicListItem.css
  web/src/components/User/UserListItem.css
  web/src/helpers/publications.js
  web/src/pages/ResourcePages/GroupPage/EditGroupDisplay.css
  web/src/pages/ResourcePages/GroupPage/EditGroupDisplay.jsx
  web/src/pages/ResourcePages/GroupPage/GroupDetails.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.css
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
  web/src/pages/ResourcePages/PublicationPage/PublicationPage.jsx
  web/src/pages/ResourcePages/ResourcesFeeds.jsx
Due: none

fix user page problems from tab changes
  web/src/App.css
  web/src/assets/TowersLight.jsx
  web/src/components/Buttons/Buttons.css
  web/src/components/Tabs/Tabs.jsx
  web/src/pages/ResourcePages/UserPage/UserPage.css
Due: none

improve group page spacing
  web/src/pages/ResourcePages/GroupPage/GroupDetails.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.css
Due: none

Path conditions:
  deploy_dev_functions: any of: functions/**/*
  deploy_dev_firestore: any of: firestore.rules, firestore.indexes.json
  deploy_test_firestore: any of: firestore.rules, firestore.indexes.json
