Repository Craig-McAuliffe/labspoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_dev_functions, deploy_dev_firestore, deploy_test_firestore

deploy_dev_functions:
  stage: deploy_dev
  environment: dev
  script:
  - echo "there are functions to deploy"

deploy_dev_firestore:
  stage: deploy_dev
  environment: dev
  script:
  - firebase use --token $FIREBASE_TOKEN dev
  - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

deploy_test_firestore:
  stage: deploy_test
  environment: test
  script:
  - firebase use --token $FIREBASE_TOKEN test
  - firebase deploy -m "pipeline $CI_PIPELINE_ID build firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

match custompub fields to pub for UI
  functions/src/publications.ts
  web/src/components/Publication/CreateCustomPublication.jsx
  web/src/components/Publication/PublicationListItem.css
  web/src/components/Publication/PublicationListItem.jsx
  web/src/pages/ResourcePages/PublicationPage/PublicationPage.jsx
Due: deploy_dev_functions

more precise error message on group email invite
  functions/src/email.ts
Due: deploy_dev_functions

remove loading spinner for selectable feed
  web/src/components/Results/Results.jsx
Due: none

include time with CreateCustomPublication date
  web/src/components/Publication/CreateCustomPublication.jsx
Due: none

fix functions for deployment
  functions/src/microsoft.ts
  functions/src/publications.ts
Due: deploy_dev_functions

add algolia publications
  functions/src/algolia.ts
  functions/src/publications.ts
Due: deploy_dev_functions

remove add existing pubs to algolia function
  functions/src/algolia.ts
Due: deploy_dev_functions

fix topic scroll on GroupPage/UserPage
  web/src/helpers/topics.js
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
  web/src/pages/ResourcePages/UserPage/UserPage.jsx
Due: none

record duplicate topics
  functions/src/topics.ts
Due: deploy_dev_functions

update indexes, fix topic scroll
  firestore.indexes.json
  web/src/helpers/topics.js
Due: deploy_dev_firestore, deploy_test_firestore

fix flickering loading of selectable results
  web/src/components/FilterableResults/FilterableResults.jsx
  web/src/components/FilteredSelector/FilteredSelector.jsx
  web/src/components/Results/Results.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupPosts.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupPublications.jsx
Due: none

add quick create pub from post
  functions/src/posts.ts
  web/src/components/Forms/FormTextInput.css
  web/src/components/Forms/FormTextInput.jsx
  web/src/components/Posts/Post/CreatePost/CreatePost.css
  web/src/components/Posts/Post/CreatePost/PostForm.jsx
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
  web/src/components/Publication/CreateCustomPublication.jsx
  web/src/pages/ResourcePages/PublicationPage/PublicationPage.jsx
Due: deploy_dev_functions

improve tagging resources on posts
  functions/src/posts.ts
  web/src/components/OpenPosition/CreateOpenPosition.jsx
  web/src/components/OpenPosition/OpenPositionListItem.jsx
  web/src/components/Posts/Post/CreatePost/CreatePost.css
  web/src/components/Posts/Post/CreatePost/OpenPositionPostForm.jsx
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
  web/src/components/Posts/Post/PostParts/PostTaggedContent.jsx
  web/src/components/Publication/PublicationListItem.jsx
  web/src/helpers/openPositions.js
  web/src/helpers/publications.js
Due: deploy_dev_functions

use openPositionListItems in backend
  functions/src/algolia.ts
  functions/src/groups.ts
  functions/src/openPositions.ts
Due: deploy_dev_functions

use publication list item ref for algolia
  functions/src/algolia.ts
Due: deploy_dev_functions

add error and alert if pub created but post fails
  web/src/components/Posts/Post/CreatePost/CreatePost.css
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
Due: none

add max CreateCustomPublication title length
  web/src/components/Publication/CreateCustomPublication.jsx
Due: none

add quick tweet direct from CreatePost
  web/src/assets/Twitter-logo-blue.png
  web/src/components/Buttons/TweetToggle.css
  web/src/components/Buttons/TweetToggle.jsx
  web/src/components/Forms/FormTextInput.jsx
  web/src/components/Posts/Post/CreatePost/CreatePost.css
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/components/Posts/Post/CreatePost/CreatePostActions.jsx
  web/src/components/Posts/Post/CreatePost/PostForm.jsx
Due: none

add info for TweetToggle onHover
  web/src/components/Buttons/TweetToggle.css
  web/src/components/Buttons/TweetToggle.jsx
Due: none

make users&groups searchable by topic fix articles
  functions/src/algolia.ts
  functions/src/groups.ts
  functions/src/microsoft.ts
  functions/src/posts.ts
  functions/src/publications.ts
  functions/src/users.ts
  web/src/helpers/articles.js
Due: deploy_dev_functions

edit article text. refresh edit group post feed.
  web/src/assets/MenuIcons.jsx
  web/src/components/Article/Article.css
  web/src/components/Article/Article.jsx
  web/src/components/Article/EditArticle.jsx
  web/src/components/Buttons/TweetToggle.css
  web/src/components/Buttons/TweetToggle.jsx
  web/src/components/Dropdown.css
  web/src/components/Dropdown.jsx
  web/src/components/FilteredSelector/FilteredSelector.jsx
  web/src/components/Forms/Articles/HeaderAndBodyArticleInput.jsx
  web/src/components/ListItem/ListItemCommonComponents.css
  web/src/components/ListItem/ListItemCommonComponents.jsx
  web/src/components/Popovers/OnHoverPopover.css
  web/src/components/Popovers/OnHoverPopover.jsx
  web/src/components/ResearchFocus/ResearchFocusListItem.jsx
  web/src/components/Techniques/TechniqueListItem.jsx
  web/src/pages/ResourcePages/ResearchFocusPage/EditResearchFocusPage.css
  web/src/pages/ResourcePages/ResearchFocusPage/EditResearchFocusPage.jsx
  web/src/pages/ResourcePages/ResearchFocusPage/ResearchFocusPage.jsx
  web/src/pages/ResourcePages/ResearchFocusPage/ResearchFocuses.jsx
  web/src/pages/ResourcePages/TechniquePage/EditTechniquePage.jsx
  web/src/pages/ResourcePages/TechniquePage/TechniquePage.jsx
  web/src/pages/ResourcePages/TechniquePage/Techniques.jsx
  web/src/routes.jsx
Due: none

limit number of paragraphs for articles
  web/src/components/Forms/Articles/HeaderAndBodyArticleInput.jsx
Due: none

explain MS Pubs sync on edit user profile
  web/src/pages/ResourcePages/UserPage/EditUserPage.css
  web/src/pages/ResourcePages/UserPage/EditUserPublications.jsx
Due: none

handle promises while updating recent userTopics
  functions/src/users.ts
Due: deploy_dev_functions

fix edit group posts and publications
  web/src/components/FilteredSelector/FilteredSelector.jsx
Due: none

fix EditArticle layout
  web/src/components/Article/EditArticle.jsx
Due: none

save text when switching resource CreatePost
  web/src/components/Forms/FormTextInput.jsx
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/components/Posts/Post/CreatePost/DefaultPost.jsx
  web/src/components/Posts/Post/CreatePost/OpenPositionPostForm.jsx
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
Due: none

auto show new posts in feed upon CreatePost
  functions/src/posts.ts
  web/src/components/FilterableResults/FilterableResults.jsx
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/components/Posts/Post/CreatePost/DefaultPost.jsx
  web/src/components/Posts/Post/CreatePost/OpenPositionPostForm.jsx
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
  web/src/components/Results/Results.jsx
Due: deploy_dev_functions

fix tagged openPosition on posts
  functions/src/algolia.ts
  functions/src/posts.ts
  web/src/components/Posts/Post/Post.jsx
  web/src/components/Posts/Post/PostParts/PostTaggedContent.jsx
  web/src/helpers/openPositions.js
Due: deploy_dev_functions

add rich text CreatePost and Post
  functions/src/posts.ts
  web/src/components/Article/Article.jsx
  web/src/components/Forms/Articles/HeaderAndBodyArticleInput.css
  web/src/components/Forms/Articles/HeaderAndBodyArticleInput.jsx
  web/src/components/Forms/FormTextInput.jsx
  web/src/components/Posts/Post/CreatePost/CreatePost.css
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/components/Posts/Post/CreatePost/DefaultPost.jsx
  web/src/components/Posts/Post/CreatePost/OpenPositionPostForm.jsx
  web/src/components/Posts/Post/CreatePost/PostForm.jsx
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
  web/src/components/Posts/Post/Post.jsx
Due: deploy_dev_functions

reformat old posts, change formatting of new posts
  functions/src/posts.ts
  web/src/components/Posts/Post/Post.jsx
  web/src/helpers/posts.js
  web/src/pages/FollowingFeedPage/FollowingFeedPage.jsx
  web/src/pages/ResourcePages/PostPage/PostPage.jsx
  web/src/pages/ResourcePages/UserPage/UserPage.jsx
  web/src/pages/TopicPage/TopicPage.jsx
Due: deploy_dev_functions

add FollowOptionsPopover on follow of user
  web/src/components/Buttons/FollowButton.jsx
  web/src/components/Buttons/SelectCheckBox.css
  web/src/components/Buttons/SelectCheckBox.jsx
  web/src/components/FilterableResults/FilterableResults.jsx
  web/src/components/FilteredSelector/FilteredSelector.jsx
  web/src/components/PaginatedResourceFetch/PaginatedResourceFetch.css
  web/src/components/PaginatedResourceFetch/PaginatedResourceFetch.jsx
  web/src/components/Popovers/FollowOptionsPopover.css
  web/src/components/Popovers/FollowOptionsPopover.jsx
  web/src/components/Popovers/Popover.jsx
  web/src/components/Results/Results.css
  web/src/components/Results/Results.jsx
  web/src/components/Topics/TopicListItem.css
  web/src/components/Topics/TopicListItem.jsx
  web/src/components/User/FollowUserButton/FollowUserButton.css
  web/src/components/User/FollowUserButton/FollowUserButton.jsx
  web/src/helpers/resourceTypeDefinitions.js
  web/src/helpers/resources.js
Due: none

fix fetch and scroll in FollowOptionsPopover
  web/src/components/PaginatedResourceFetch/PaginatedResourceFetch.jsx
  web/src/components/Popovers/FollowOptionsPopover.css
  web/src/components/Popovers/FollowOptionsPopover.jsx
  web/src/components/Results/Results.jsx
  web/src/helpers/resources.js
Due: none

submit follow preferences to db
  web/src/components/Buttons/SelectCheckBox.jsx
  web/src/components/PaginatedResourceFetch/PaginatedResourceFetch.jsx
  web/src/components/Popovers/FollowOptionsPopover.css
  web/src/components/Popovers/FollowOptionsPopover.jsx
  web/src/components/Results/Results.jsx
  web/src/helpers/resources.js
Due: none

fix batch on FollowOptionsPopover
  web/src/components/Popovers/FollowOptionsPopover.jsx
Due: none

filter new posts by FollowOptions. fix noUser
  functions/src/config.ts
  functions/src/helpers.ts
  functions/src/users.ts
  web/src/components/Popovers/FollowOptionsPopover.jsx
  web/src/components/User/FollowUserButton/FollowUserButton.jsx
Due: deploy_dev_functions

follow preferences for groups
  functions/src/groups.ts
  web/src/components/Buttons/SelectCheckBox.jsx
  web/src/components/Group/FollowGroupButton.jsx
  web/src/components/Popovers/FollowOptionsPopover.jsx
  web/src/components/User/FollowUserButton/FollowUserButton.jsx
Due: deploy_dev_functions

follow options for topics
  functions/src/topics.ts
  web/src/components/Popovers/FollowOptionsPopover.jsx
  web/src/components/Topics/FollowTopicButton.jsx
Due: deploy_dev_functions

change AboutPage text
  web/src/pages/AboutPage/AboutPage.jsx
Due: none

delete reformat posts function
  functions/src/posts.ts
Due: deploy_dev_functions

Path conditions:
  deploy_dev_functions: any of: functions/**/*
  deploy_dev_firestore: any of: firestore.rules, firestore.indexes.json
  deploy_test_firestore: any of: firestore.rules, firestore.indexes.json
