Repository Craig-McAuliffe/labspoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_dev_functions, deploy_dev_firestore, deploy_test_firestore

.gitlab-ci.yml:

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "web"'
      when: always

image: node:latest

stages:
  - deploy_dev
  - deploy_test
  - deploy_prod

cache:
  key: default
  paths:
    - web/node_modules/
    - functions/node_modules

before_script:
  - npm i -g firebase-tools
  - npm i -g n

deploy_dev_functions:
  stage: deploy_dev
  environment: dev
  rules:
    - changes:
        - functions/**/*
  script:
    - echo "there are functions to deploy"

deploy_dev_firestore:
  stage: deploy_dev
  environment: dev
  rules:
    - changes:
        - firestore.rules
        - firestore.indexes.json
  script:
    - firebase use --token $FIREBASE_TOKEN dev
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

deploy_dev:
  stage: deploy_dev
  environment: dev
  script:
    - n current
    - cd web
    - npm install
    - npm run build
    - cd ..
    - n 10
    - cd functions
    - npm install
    - npm functions build
    - cd ..
    - firebase use --token $FIREBASE_TOKEN dev
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID" --non-interactive --token $FIREBASE_TOKEN --only hosting

deploy_test_firestore:
  stage: deploy_test
  environment: test
  rules:
    - changes:
        - firestore.rules
        - firestore.indexes.json
  script:
    - firebase use --token $FIREBASE_TOKEN test
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

deploy_test:
  stage: deploy_test
  environment: test
  script:
    - n current
    - cd web
    - npm install
    - npm run build
    - cd ..
    - n 10
    - cd functions
    - npm install
    - npm run build
    - cd ..
    - firebase use --token $FIREBASE_TOKEN test
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID" --non-interactive --token $FIREBASE_TOKEN --only hosting

deploy_prod_firestore:
  stage: deploy_prod
  environment: prod
  rules:
    - changes:
        - firestore.rules
        - firestore.indexes.json
      when: manual
  script:
    - firebase use --token $FIREBASE_TOKEN prod
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

deploy_prod:
  stage: deploy_prod
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      when: manual
  environment:
    name: prod
  script:
    - n current
    - cd web
    - npm install
    - npm run build
    - cd ..
    - n 10
    - cd functions
    - npm install
    - npm run build
    - cd ..
    - firebase use --token $FIREBASE_TOKEN prod
    - firebase deploy -m "Pipeline $CI_PIPELINE_ID, Build $CI_BUILD_ID" --non-interactive --token $FIREBASE_TOKEN --only hosting

create firestore doc before uploading images
  functions/src/images.ts
  web/src/components/ResearchFocus/CreateResearchFocus.jsx
  web/src/components/Techniques/CreateTechnique.jsx
  web/src/helpers/articles.js
Due: deploy_dev_functions

add resized url to articles, dont update db in function
  functions/src/images.ts
  web/src/components/ResearchFocus/CreateResearchFocus.jsx
  web/src/components/Techniques/CreateTechnique.jsx
  web/src/helpers/articles.js
  web/src/pages/ResourcePages/ResearchFocusPage/ResearchFocusPage.jsx
  web/src/pages/ResourcePages/TechniquePage/TechniquePage.jsx
Due: deploy_dev_functions

remove duplicate "_fullSize" tag from techniques
  web/src/components/Techniques/CreateTechnique.jsx
Due: none

resize group photos, delete commented code
  functions/src/images.ts
  web/src/pages/ResourcePages/GroupPage/EditGroupPhotos.jsx
Due: deploy_dev_functions

don't update firestore on EditGroupPhotos, remove code
  functions/src/images.ts
  web/src/pages/ResourcePages/GroupPage/EditGroupPhotos.jsx
Due: deploy_dev_functions

fix group image upload error
  web/src/pages/ResourcePages/GroupPage/EditGroupPhotos.jsx
Due: none

fix opacity build problem
  web/src/components/Buttons/PrimaryButton.css
  web/src/components/Group/GroupSignature.css
  web/src/components/Images/ImageUpload.css
  web/src/components/Posts/Post/CreatePost/CreatePost.css
  web/src/components/Posts/Post/Post.css
  web/src/components/Publication/ConnectToPublications/ConnectToPublications.css
Due: none

hide imaage upload cancel button while uploading
  web/src/components/Images/ImageUpload.jsx
Due: none

remove logs from resize function
  functions/src/images.ts
Due: deploy_dev_functions

remove publication search configuration function
  functions/src/algolia.ts
Due: deploy_dev_functions

fix CreateOpenPosition, remove algolia.ts import
  functions/src/algolia.ts
  functions/src/openPositions.ts
  web/src/components/Dropdown.css
  web/src/components/Dropdown.jsx
  web/src/components/Forms/Select/Select.css
  web/src/components/Forms/Select/Select.jsx
  web/src/components/Group/CreateGroupPage/GroupInfoForm.jsx
  web/src/components/OpenPosition/CreateOpenPosition.css
  web/src/components/OpenPosition/CreateOpenPosition.jsx
  web/src/components/OpenPosition/OpenPositionListItem.jsx
Due: deploy_dev_functions

add filterable attribute for algolia open positions
  functions/src/algolia.ts
Due: deploy_dev_functions

add cookies clause to PrivacyPolicyPage
  web/src/pages/PrivacyPolicyPage/PrivacyPolicyPage.jsx
Due: none

add PoliciesPage, CookiesPolicyPage, cookies banner.
  web/src/App.css
  web/src/App.jsx
  web/src/components/Buttons/OnboardingTipButton.css
  web/src/components/Layout/Header/AvatarDropDown.jsx
  web/src/pages/Info/CookiesPolicyPage.css
  web/src/pages/Info/CookiesPolicyPage.jsx
  web/src/pages/PoliciesPage/PoliciesPage.css
  web/src/pages/PoliciesPage/PoliciesPage.jsx
  web/src/pages/PrivacyPolicyPage/PrivacyPolicyPage.jsx
  web/src/routes.jsx
Due: none

update CookiesPolicyPage
  web/src/pages/Info/CookiesPolicyPage.jsx
Due: none

remove cookies banner and reference in CookiesPolicyPage.
  web/src/App.css
  web/src/App.jsx
  web/src/pages/Info/CookiesPolicyPage.jsx
Due: none

improve max article/photo count validation
  firestore.rules
  functions/src/groups.ts
  functions/src/posts.ts
  functions/src/users.ts
  web/src/firebase.js
  web/src/helpers/articles.js
  web/src/pages/ResourcePages/GroupPage/EditGroupPhotos.jsx
Due: deploy_dev_functions, deploy_dev_firestore, deploy_test_firestore

add rules for writing to user groups
  firestore.rules
Due: deploy_dev_firestore, deploy_test_firestore

prevent id change from group updates (rules)
  firestore.rules
Due: deploy_dev_firestore, deploy_test_firestore

update firebase functions
  functions/package-lock.json
  functions/package.json
Due: deploy_dev_functions

fix groupPage loading bug
  web/src/pages/ResourcePages/GroupPage/EditGroupPhotos.jsx
Due: none

change recaptcha key config setup
  functions/src/config.ts
Due: deploy_dev_functions

stop auto slide of AboutPage carousel
  web/src/pages/AboutPage/AboutPage.jsx
Due: none

increase cover photo resize size, cache control
  functions/src/images.ts
Due: deploy_dev_functions

neaten pub search on CreatePost
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
  web/src/components/Publication/ConnectToPublications/ConnectToPublications.jsx
  web/src/components/Publication/MicrosoftResults.css
  web/src/components/Publication/MicrosoftResults.jsx
  web/src/pages/ResourcePages/UserPage/EditUserPublications.jsx
Due: none

fix link to OpenPositionPostForm from CreatePost
  web/src/components/Posts/Post/CreatePost/OpenPositionPostForm.jsx
Due: none

decrement contact form count by 1 on delete
  functions/src/contactForms.ts
  functions/src/index.ts
Due: deploy_dev_functions

add res.end() to onRequest functions
  functions/src/groups.ts
  functions/src/publications.ts
Due: deploy_dev_functions

improve author link functions, fetch new button
  functions/src/helpers.ts
  functions/src/index.ts
  functions/src/microsoft.ts
  functions/src/users.ts
  web/src/components/Publication/ConnectToPublications/ConnectToPublications.jsx
  web/src/components/Publication/MicrosoftResults.jsx
  web/src/pages/ResourcePages/UserPage/EditUserPage.css
  web/src/pages/ResourcePages/UserPage/EditUserPublications.jsx
Due: deploy_dev_functions

add fetch recent pubs to edit user profile
  functions/src/microsoft.ts
  web/src/App.css
  web/src/components/Forms/ErrorMessage.css
  web/src/components/Forms/ErrorMessage.jsx
  web/src/components/Publication/MicrosoftResults.jsx
  web/src/pages/ResourcePages/UserPage/EditUserPage.css
  web/src/pages/ResourcePages/UserPage/EditUserPublications.jsx
Due: deploy_dev_functions

update infinite scroll component
  functions/src/microsoft.ts
  web/package-lock.json
  web/package.json
Due: deploy_dev_functions

fix scroll
  web/src/App.css
  web/src/components/FilterableResults/FilterableResults.jsx
  web/src/components/Layout/Header/Header.css
  web/src/components/Results/Results.jsx
Due: none

remove unused microsoft publication search
  web/src/components/Publication/MicrosoftResults.jsx
Due: none

reinstall packages
  web/package-lock.json
Due: none

add permanent scroll with working infinite scroll
  web/src/index.css
Due: none

add fetch more pubs for skeleton profile
  web/src/pages/ResourcePages/UserPage/EditUserPublications.jsx
  web/src/pages/ResourcePages/UserPage/SkeletonUserPage.css
  web/src/pages/ResourcePages/UserPage/SkeletonUserPage.jsx
Due: none

add front end for creating custom publication
  firestore.rules
  web/src/App.css
  web/src/components/Buttons/TertiaryButton.css
  web/src/components/Buttons/TertiaryButton.jsx
  web/src/components/Forms/AddUserToForm.css
  web/src/components/Forms/AddUserToForm.jsx
  web/src/components/Forms/CreateResourceFormActions.css
  web/src/components/Forms/CreateResourceFormActions.jsx
  web/src/components/Forms/FormTextInput.css
  web/src/components/Forms/FormTextInput.jsx
  web/src/components/Group/CreateGroupPage/GroupInfoForm.css
  web/src/components/Group/CreateGroupPage/GroupInfoForm.jsx
  web/src/components/Publication/CreateCustomPublication.css
  web/src/components/Publication/CreateCustomPublication.jsx
  web/src/components/Topics/TagTopics.jsx
  web/src/components/User/UserListItem.css
  web/src/components/User/UserListItem.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupVideos.jsx
  web/src/pages/ResourcePages/UserPage/EditUserInfo.jsx
  web/src/pages/ResourcePages/UserPage/EditUserPublications.jsx
  web/src/pages/ResourcePages/UserPage/SkeletonUserPage.css
  web/src/pages/ResourcePages/UserPage/SkeletonUserPage.jsx
Due: deploy_dev_firestore, deploy_test_firestore

fix position of onboarding create tip
  web/src/components/OnboardingTips/OnboardingTip.css
Due: none

modify CreateCustomPublication, backend handling, similar
  functions/src/posts.ts
  functions/src/publications.ts
  functions/src/users.ts
  web/src/components/Publication/CreateCustomPublication.jsx
  web/src/components/SuggestedContent/FullScreenSimilarContent.jsx
  web/src/components/SuggestedContent/SimilarContentSider.css
  web/src/components/SuggestedContent/SimilarContentSider.jsx
  web/src/helpers/users.js
  web/src/index.css
  web/src/pages/ResourcePages/PublicationPage/PublicationPage.css
Due: deploy_dev_functions

remove duplicate publication authors (frontend)
  functions/src/msUser.ts
  functions/src/publications.ts
  web/src/components/Publication/PublicationListItem.jsx
  web/src/pages/ResourcePages/PublicationPage/PublicationPage.jsx
Due: deploy_dev_functions
