Repository Craig-McAuliffe/labspoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_dev_functions, deploy_dev_firestore, deploy_test_firestore

deploy_dev_functions:
  stage: deploy_dev
  environment: dev
  script:
  - echo "there are functions to deploy"

deploy_dev_firestore:
  stage: deploy_dev
  environment: dev
  script:
  - firebase use --token $FIREBASE_TOKEN dev
  - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

deploy_test_firestore:
  stage: deploy_test
  environment: test
  script:
  - firebase use --token $FIREBASE_TOKEN test
  - firebase deploy -m "pipeline $CI_PIPELINE_ID build firestore" --non-interactive --token $FIREBASE_TOKEN --only firestore

fix errors from dark shade
  web/src/assets/CyclesDark.jsx
  web/src/assets/GeneralActionIcons.jsx
  web/src/assets/MandelbrotDark.jsx
  web/src/colours.txt
  web/src/components/Buttons/BookmarkButton.jsx
  web/src/components/Buttons/Buttons.css
  web/src/components/Buttons/PrimaryButton.css
  web/src/components/Buttons/RecommendButton.jsx
  web/src/components/ListItem/ListItemCommonComponents.css
  web/src/components/ListItem/ListItemCommonComponents.jsx
  web/src/components/OpenPosition/OpenPositionListItem.css
  web/src/components/OpenPosition/OpenPositionListItem.jsx
  web/src/components/Publication/CreateCustomPublication.jsx
  web/src/components/Publication/PublicationListItem.css
  web/src/components/Publication/PublicationListItem.jsx
  web/src/components/ResearchFocus/ResearchFocusListItem.jsx
  web/src/components/Techniques/TechniqueListItem.jsx
  web/src/components/User/UserListItem.css
  web/src/components/User/UserListItem.jsx
  web/src/helpers/openPositions.js
  web/src/helpers/posts.js
  web/src/helpers/publications.js
  web/src/pages/ResourcePages/GroupPage/EditGroupPosts.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupPublications.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.css
Due: none

fix follows page and search page and other things
  web/src/components/Buttons/BookmarkButton.jsx
  web/src/components/Buttons/Buttons.css
  web/src/components/Group/GroupListItem.jsx
  web/src/components/Group/GroupListItemHeadline.jsx
  web/src/components/Layout/Content.css
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/components/Posts/Post/Post.jsx
  web/src/components/Tabs/Tabs.css
  web/src/components/Tabs/Tabs.jsx
  web/src/pages/BookmarksPage/BookmarksPage.jsx
  web/src/pages/FollowsPage/FollowsPage.jsx
  web/src/pages/ResourcePages/PublicationPage/PublicationPage.jsx
  web/src/pages/SearchPage/SearchPage.jsx
Due: none

style overview page
  functions/src/email.ts
  functions/src/invitations.ts
  functions/src/users.ts
  web/src/App.css
  web/src/assets/GeneralActionIcons.jsx
  web/src/components/Avatar/Avatar.css
  web/src/components/Avatar/UserAvatar.jsx
  web/src/components/Dropdown.css
  web/src/components/FilterableResults/FilterableResults.jsx
  web/src/components/Forms/SuccessMessage.css
  web/src/components/Images/ImageListItem.jsx
  web/src/components/ListItem/ListItemCommonComponents.css
  web/src/components/ListItem/ListItemCommonComponents.jsx
  web/src/components/ListItem/ListItemTopics.css
  web/src/components/ListItem/ListItemTopics.jsx
  web/src/components/Popovers/FollowOptionsPopover.css
  web/src/components/Posts/Post/Post.css
  web/src/components/Posts/Post/Post.jsx
  web/src/index.css
  web/src/pages/ResourcePages/GroupPage/EditGroupMembers.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupOverviewPage.jsx
  web/src/pages/ResourcePages/GroupPage/GroupDetails.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.css
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
  web/src/pages/ResourcePages/ResourcesFeeds.jsx
Due: deploy_dev_functions

add member bio, better reel and svgs
  functions/src/users.ts
  web/src/App.css
  web/src/assets/CyclesDark.jsx
  web/src/assets/CyclesLight.jsx
  web/src/components/Buttons/Buttons.css
  web/src/components/Buttons/PrimaryButton.jsx
  web/src/components/Group/CreateGroupPage/GroupInfoForm.jsx
  web/src/components/User/UserListItem.css
  web/src/components/User/UserListItem.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupMembers.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.css
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
Due: deploy_dev_functions

lighten svg background
  web/src/assets/SingularityLight.jsx
Due: none

fix SimilarContentSider width and margin
  web/src/components/SuggestedContent/SimilarContentSider.css
Due: none

update tagged items on posts. no RichText error
  functions/src/email.ts
  functions/src/groups.ts
  functions/src/openPositions.ts
  functions/src/publications.ts
  web/src/components/Article/Article.jsx
  web/src/components/Tabs/Tabs.css
  web/src/pages/ResourcePages/GroupPage/GroupPage.css
Due: deploy_dev_functions

clearer bot button
  web/src/App.css
Due: none

minor UI changes
  web/src/assets/GeneralActionIcons.jsx
  web/src/components/Dropdown.css
  web/src/components/ListItem/ListItemCommonComponents.jsx
Due: none

more small UI changes
  web/src/components/Posts/Post/PostParts/PostTaggedContent.jsx
  web/src/pages/ResourcePages/GroupPage/GroupDetails.jsx
Due: none

improve resource list items dropdown options UI
  web/src/components/Dropdown.css
Due: none

further improve dropdown UI
  web/src/components/Dropdown.css
Due: none

fix group mobile UI
  web/src/components/Dropdown.css
  web/src/components/Tabs/Tabs.css
  web/src/pages/ResourcePages/GroupPage/GroupDetails.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.css
Due: none

update news posts
  functions/src/groups.ts
Due: deploy_dev_functions

simplify OnboardingPage
  web/src/components/Group/CreateGroupPage/GroupInfoForm.css
  web/src/components/Group/CreateGroupPage/GroupInfoForm.jsx
  web/src/components/User/UserListItem.css
  web/src/pages/OnboardingPage/OnboardingPage.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupMembers.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
Due: none

small adjustments to OnboardingPage
  web/src/pages/OnboardingPage/OnboardingPage.jsx
Due: none

allow multiple microsoft IDs for user
  functions/src/activity.ts
  functions/src/groups.ts
  functions/src/microsoft.ts
  functions/src/msUser.ts
  functions/src/publications.ts
  functions/src/users.ts
  web/src/components/Publication/ConnectToPublications/ConnectToPublications.css
  web/src/components/Publication/ConnectToPublications/ConnectToPublications.jsx
  web/src/components/Publication/CreateCustomPublication.jsx
  web/src/components/Publication/PublicationListItem.jsx
  web/src/helpers/publications.js
  web/src/pages/ResourcePages/PublicationPage/PublicationPage.jsx
  web/src/pages/ResourcePages/UserPage/EditUserPublications.jsx
  web/src/pages/ResourcePages/UserPage/SkeletonUserPage.jsx
  web/src/pages/ResourcePages/UserPage/UserPage.jsx
Due: deploy_dev_functions

improve topic page not found. ids array for helper
  web/src/helpers/users.js
  web/src/pages/TopicPage/TopicPage.jsx
Due: none

fix custom pubs for IDs array
  web/src/components/Publication/CreateCustomPublication.jsx
Due: none

improve convert user microsoft IDs to array
  functions/src/users.ts
Due: deploy_dev_functions

change microsoftIDs back to ID on pubs
  functions/src/microsoft.ts
  functions/src/msUser.ts
  functions/src/publications.ts
  functions/src/users.ts
  web/src/components/Publication/ConnectToPublications/ConnectToPublications.css
  web/src/components/Publication/CreateCustomPublication.jsx
  web/src/components/Publication/PublicationListItem.jsx
  web/src/helpers/publications.js
  web/src/helpers/users.js
  web/src/pages/ResourcePages/PublicationPage/PublicationPage.jsx
Due: deploy_dev_functions

remove unnecessary res.end()
  functions/src/activity.ts
  functions/src/groups.ts
  functions/src/publications.ts
  functions/src/users.ts
Due: deploy_dev_functions

improve users add extra msID
  functions/src/users.ts
Due: deploy_dev_functions

remove log
  web/src/components/Publication/CreateCustomPublication.jsx
Due: none

small fix to onboarding page
  web/src/components/SuggestedContent/SimilarContentSider.jsx
  web/src/pages/OnboardingPage/OnboardingPage.jsx
Due: none

remove convert msIDs to array function
  functions/src/users.ts
Due: deploy_dev_functions

remove update new msID array to existing publications
  functions/src/users.ts
Due: deploy_dev_functions

onboarding, RFs / techniques, create pages
  firestore.rules
  functions/src/researchFocuses.ts
  functions/src/techniques.ts
  functions/src/users.ts
  web/src/components/Article/Article.jsx
  web/src/components/Article/EditArticle.jsx
  web/src/components/Buttons/CreateButton.jsx
  web/src/components/Buttons/OnboardingTipButton.css
  web/src/components/Filter/Filter.css
  web/src/components/Filter/Filter.jsx
  web/src/components/FilterableResults/FilterableResults.jsx
  web/src/components/GeneralError.jsx
  web/src/components/OnboardingTips/OnboardingTip.css
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/components/Posts/Post/CreatePost/DefaultPost.jsx
  web/src/components/Posts/Post/CreatePost/OpenPositionPostForm.jsx
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
  web/src/components/Publication/ConnectToPublications/ConnectToPublications.jsx
  web/src/components/ResearchFocus/CreateResearchFocus.jsx
  web/src/components/ResearchFocus/ResearchFocusListItem.jsx
  web/src/components/Techniques/CreateTechnique.jsx
  web/src/components/Techniques/TechniqueListItem.jsx
  web/src/helpers/articles.js
  web/src/helpers/images.js
  web/src/pages/FollowingFeedPage/FollowingFeedPage.jsx
  web/src/pages/OnboardingPage/OnboardingPage.jsx
  web/src/pages/ResourcePages/CreatePage.css
  web/src/pages/ResourcePages/CreatePage.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupResearchFocuses.jsx
  web/src/pages/ResourcePages/GroupPage/EditGroupTechniques.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
  web/src/pages/ResourcePages/ResearchFocusPage/ResearchFocusPage.jsx
  web/src/pages/ResourcePages/ResourcesFeeds.jsx
  web/src/pages/ResourcePages/TechniquePage/TechniquePage.jsx
Due: deploy_dev_functions, deploy_dev_firestore, deploy_test_firestore

add skeleton of quickOpenPosition to create post
  web/src/components/Forms/Groups/SelectGroup.css
  web/src/components/Forms/Groups/SelectGroup.jsx
  web/src/components/OpenPosition/CreateOpenPosition.css
  web/src/components/OpenPosition/CreateOpenPosition.jsx
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/components/Posts/Post/CreatePost/OpenPositionPostForm.jsx
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
Due: none

can quick create openPos
  functions/src/openPositions.ts
  web/src/assets/HeaderIcons.css
  web/src/components/Dropdown.jsx
  web/src/components/Filter/Filter.css
  web/src/components/Filter/Filter.jsx
  web/src/components/Forms/InputError.css
  web/src/components/Forms/InputError.jsx
  web/src/components/OpenPosition/CreateOpenPosition.jsx
  web/src/components/OpenPosition/OpenPositionListItem.jsx
  web/src/components/Posts/Post/CreatePost/CreatePost.css
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/components/Posts/Post/CreatePost/DefaultPost.jsx
  web/src/components/Posts/Post/CreatePost/OpenPositionPostForm.jsx
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
  web/src/components/TabbedContainer/TabbedContainer.css
  web/src/helpers/articles.js
  web/src/pages/ResourcePages/OpenPositionPage/OpenPositionPage.jsx
Due: deploy_dev_functions

better create button
  web/src/assets/Designs.jsx
  web/src/assets/HeaderIcons.css
  web/src/assets/HeaderIcons.jsx
  web/src/components/Buttons/CreateButton.css
  web/src/components/Buttons/CreateButton.jsx
  web/src/components/Layout/Header/AvatarDropDown.css
  web/src/components/Layout/Header/Header.css
  web/src/components/Posts/Post/CreatePost/CreatePost.css
  web/src/components/SearchBar.css
Due: none

skeleton design for new posting UI
  web/src/components/Posts/Post/CreatePost/CreatePost.css
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/components/Posts/Post/CreatePost/DefaultPost.jsx
  web/src/components/Posts/Post/CreatePost/OpenPositionPostForm.jsx
  web/src/components/Posts/Post/CreatePost/PostForm.jsx
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
  web/src/components/Posts/Post/CreatePost/TypeOfTaggedResourceDropDown.jsx
  web/src/components/Topics/SearchMSFields.css
  web/src/components/Topics/SearchMSFields.jsx
  web/src/components/Topics/TagTopics.jsx
Due: none

refactor create post. smooth sections
  web/src/App.css
  web/src/assets/Designs.css
  web/src/assets/Designs.jsx
  web/src/components/Forms/FormTextInput.jsx
  web/src/components/Posts/Post/CreatePost/CreatePost.css
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/components/Posts/Post/CreatePost/DefaultPost.jsx
  web/src/components/Posts/Post/CreatePost/OpenPositionPostForm.jsx
  web/src/components/Posts/Post/CreatePost/PostForm.jsx
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
  web/src/components/Posts/Post/CreatePost/TypeOfTaggedResourceDropDown.jsx
  web/src/components/Topics/SearchMSFields.css
  web/src/components/Topics/SearchMSFields.jsx
  web/src/components/Topics/TagTopics.jsx
Due: none

functioning new post creation modal
  functions/src/posts.ts
  functions/src/publications.ts
  web/src/components/Buttons/CreateButton.jsx
  web/src/components/Posts/Post/CreatePost/CreatePost.css
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
  web/src/components/Posts/Post/CreatePost/DefaultPost.jsx
  web/src/components/Posts/Post/CreatePost/OpenPositionPostForm.jsx
  web/src/components/Posts/Post/CreatePost/PostForm.jsx
  web/src/components/Posts/Post/CreatePost/PublicationPostForm.jsx
  web/src/components/Posts/Post/CreatePost/TypeOfTaggedResourceDropDown.jsx
  web/src/components/Topics/SearchMSFields.jsx
  web/src/components/Topics/TagTopics.jsx
  web/src/pages/ResourcePages/CreatePage.jsx
  web/src/pages/ResourcePages/PublicationPage/PublicationPage.css
  web/src/pages/ResourcePages/PublicationPage/PublicationPage.jsx
  web/src/pages/TopicPage/TopicPage.jsx
Due: deploy_dev_functions

remove defaultPost filter option from filter
  web/src/pages/FollowingFeedPage/FollowingFeedPage.jsx
Due: none

non functioning but nearly there group bookmarking
  firestore.rules
  functions/src/users.ts
  web/src/assets/PostActionIcons.jsx
  web/src/components/Buttons/GroupBookmarkButton.css
  web/src/components/Buttons/GroupBookmarkButton.jsx
  web/src/components/Buttons/QualityScoreButton.css
  web/src/components/Buttons/QualityScoreButton.jsx
  web/src/components/Buttons/RecommendButton.jsx
  web/src/components/Group/GroupListItem.jsx
  web/src/components/Popovers/Popover.jsx
  web/src/components/Posts/Post/Post.jsx
  web/src/components/Posts/Post/PostParts/PostActions.css
  web/src/components/Posts/Post/PostParts/PostActions.jsx
  web/src/pages/ResourcePages/PublicationPage/PublicationPage.css
Due: deploy_dev_functions, deploy_dev_firestore, deploy_test_firestore

functioning group bookmark button
  web/src/colours.txt
  web/src/components/Buttons/Buttons.css
  web/src/components/Buttons/GroupBookmarkButton.css
  web/src/components/Buttons/GroupBookmarkButton.jsx
  web/src/components/Group/GroupListItem.css
  web/src/components/Group/GroupListItem.jsx
  web/src/components/OnboardingTips/OnboardingTip.css
  web/src/components/Posts/Post/CreatePost/CreatePost.jsx
Due: none

add group member zone bookmarks
  web/src/components/Buttons/BookmarkButton.jsx
  web/src/components/Buttons/Buttons.css
  web/src/components/Buttons/GroupBookmarkButton.jsx
  web/src/components/Buttons/RecommendButton.jsx
  web/src/components/FilterableResults/FilterableResults.jsx
  web/src/pages/ResourcePages/GroupPage/GroupDetails.jsx
  web/src/pages/ResourcePages/GroupPage/GroupMemberZone.css
  web/src/pages/ResourcePages/GroupPage/GroupMemberZone.jsx
  web/src/pages/ResourcePages/GroupPage/GroupPage.css
  web/src/pages/ResourcePages/GroupPage/GroupPage.jsx
  web/src/pages/ResourcePages/GroupPage/Groups.jsx
Due: none

working qualityScore counter, fix tagTopics
  firestore.rules
  functions/src/posts.ts
  web/src/colours.txt
  web/src/components/Popovers/Popover.jsx
  web/src/components/Posts/Post/Post.css
  web/src/components/Posts/Post/Post.jsx
  web/src/components/Posts/Post/PostParts/PostActions.css
  web/src/components/Posts/Post/PostParts/PostActions.jsx
  web/src/components/Topics/SearchMSFields.jsx
  web/src/components/Topics/TagTopics.jsx
Due: deploy_dev_functions, deploy_dev_firestore, deploy_test_firestore

fix styling of posts and PostActions
  web/src/colours.txt
  web/src/components/Buttons/Buttons.css
  web/src/components/ListItem/ListItemCommonComponents.css
  web/src/components/Posts/Post/PostParts/PostActions.css
  web/src/components/Posts/Post/PostParts/PostActions.jsx
Due: none

Path conditions:
  deploy_dev_functions: any of: functions/**/*
  deploy_dev_firestore: any of: firestore.rules, firestore.indexes.json
  deploy_test_firestore: any of: firestore.rules, firestore.indexes.json
